$microverse_pink: #5B00FF;
$microverse_white: #F8F9FF;
$microver-light-pink: #F8F9FF;
$white: #fff;
$red: #dc3545;
$gray: #6c757d;
$blue: #007bff;
$pink: #e83e8c;
$dusk: #3e396b;
$teal: #20c997;
$cyan: #17a2b8;
$orange: #fd7e14;
$yellow: #ffc107;
$indigo: #6610f2;
$purple: #6f42c1;
$danger: #dc3545;
$warning: #ffc107;
$success: #28a745;
$primary: #007bff;
$tealish: #41d3bd;
$gray-dark: #343a40;
$secondary: #6c757d;
$light-tan: #f9f1ae;
$purplish-blue: #6f23ff;
$very-light-blue: #f8faff;