@mixin default-styling {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

@mixin rounded-corners {
    $rounded-corner-radius: 4px;
    -webkit-border-radius: $rounded-corner-radius;
    -moz-border-radius: $rounded-corner-radius;
    -ms-border-radius: $rounded-corner-radius;
    border-radius: $rounded-corner-radius;
}

@mixin yellow-buttons {
    background-color: #FFCE32;
    color: #2F2F30;
    padding-bottom: 11px;
    padding-top: 10px;
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 0;
    margin-right: 0;
    margin-left: 20px;
    float: right;
    @include rounded-corners;
}