/********* menu *********/

.menu {
    //border: 1px solid green;
    padding-top: 3%;
    font-weight: 600;
    .logo {
        padding-left: 6%;
        .navbar-logo {
            font-family: "Maven Pro";
            font-size: 34px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #ffffff;
            text-align: left;
        }
    }
    .nav-links {
        text-align: right;
        padding-right: 8%;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        li {
            display: inline-block;
            color: #ffffff;
        }
        a {
            display: block;
            padding: 6px 12px;
            text-decoration: none;
            color: white;
        }
        .last-menu {
            @include yellow-buttons-menu;
        }
    }
    .mybars {
        display: none;
        color: white;
        @media screen and (max-width: 990px) {
            display: inline-block;
            color: white;
            text-align: right;
            height: 30px;
            position: relative;
            transform: rotate(0deg);
            transition: 0.5s ease-in-out;
            transform: rotate(0deg);
            z-index: 105;
            padding-right: 8%;
        }
    }
}