/************ Microverse Rainbow strips **********/

.strips {
    //height: 300px;
    //border: 1px solid black;
    transform: rotate(-3.9deg);
    margin-top: -2.4em;
    margin-left: 0.2%;
    .strip-row {
        .color {
            //border: 1px solid orange;
            height: 50px;
        }
        .myellow {
            background-color: rgba(247, 247, 205, 0.67);
        }
        .mgreen {
            background-color: rgba(65, 211, 189, 0.56);
        }
        .mpink {
            background-color: rgba(111, 35, 255, 0.35);
        }
        .mwhite {
            background-color: $white;
        }
        .light-pink {
            background-color: $microver-light-pink;
        }
    }
}


/************ [end]Microverse Rainbow strips **********/