/********************************************/


/*             Louis styles                */


/********************************************/

@import 'mixins';
@import 'colors';
@import 'type';

/***** body *****/

body {
    @include default-styling;
}

.yellow-buttons {
    @include yellow-buttons;
}


/***** upper container *****/

div[id="upper-container"] {
    background: url("../images/computer_girl.png") 100% 0 no-repeat;
    background-color: $microverse_pink;
    padding-left: 6%;
    //height: 500px;
    @media screen and (max-width: 762px) {
        background: url("../images/computer_girl.png") 100% 0 no-repeat;
        background-color: $microverse_pink;
        padding-left: 6%;
    }
}

@import 'nav_links_styles';
.upper-post-it {
    text-align: center;
    border: 1px solid white;
}


/**** global school *****/

.global-school {
    border: 1px solid white;
    h1 {
        font-family: Domine;
        font-size: 48px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.27;
        letter-spacing: normal;
        color: #ffffff;
    }
    #copy-header {
        font-size: 20px;
        line-height: 1.65;
        color: #ffffff;
        margin-right: 30px;
        margin-top: 15px;
    }
    .applynow {
        text-align: center;
        font-weight: 600;
        letter-spacing: 0.034em;
        @media screen and (max-width: 762px) {
            display: inline-block;
            width: 89%;
            margin: 0 auto;
            font-size: 1.2em;
        }
    }
}


/** lower postit ****/

.lower-postit {
    border: 1px solid seagreen;
    //height: 100px;
    --oPadding: calc(0.16 * 100vw);
}

.lower-pink {
    background-image: -webkit-linear-gradient(280deg, $microverse_pink 50%, $microverse_white 51%);
    .lower-arrow {
        border: 1px solid seagreen;
        text-align: center;
        color: white;
        vertical-align: middle;
        padding-top: 6.25em;
        .below {
            display: inline-block;
            height: 300px;
            width: 200px;
        }
    }
}