/********************************************/
/*             Louis styles                */
/********************************************/
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit; }

/***** body *****/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff; }

.yellow-buttons {
  background-color: #FFCE32;
  color: #2F2F30;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 50px;
  padding-left: 50px;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }

/***** upper container *****/
div[id="upper-container"] {
  background: url("../images/computer_girl.png") 100% 0 no-repeat;
  background-color: #5B00FF;
  padding-left: 6%; }
  @media screen and (max-width: 762px) {
    div[id="upper-container"] {
      background: url("../images/computer_girl.png") 100% 0 no-repeat;
      background-color: #5B00FF;
      padding-left: 6%; } }

/********* menu *********/
.menu {
  padding-top: 3%;
  font-weight: 600; }
  .menu .logo {
    padding-left: 6%; }
    .menu .logo .navbar-logo {
      font-family: "Maven Pro";
      font-size: 34px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
      text-align: left; }
  .menu .nav-links {
    text-align: right;
    padding-right: 8%; }
    .menu .nav-links ul {
      margin: 0;
      padding: 0;
      list-style: none; }
    .menu .nav-links li {
      display: inline-block;
      color: #ffffff; }
    .menu .nav-links a {
      display: block;
      padding: 6px 12px;
      text-decoration: none;
      color: white; }
    .menu .nav-links .last-menu {
      background-color: #FFCE32;
      color: #2F2F30;
      padding-bottom: 11px;
      padding-top: 10px;
      padding-right: 25px;
      padding-left: 25px;
      margin-top: 0;
      margin-right: 0;
      margin-left: 20px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px; }
  .menu .mybars {
    display: none;
    color: white; }
    @media screen and (max-width: 990px) {
      .menu .mybars {
        display: inline-block;
        color: white;
        text-align: right;
        height: 30px;
        position: relative;
        transform: rotate(0deg);
        transition: 0.5s ease-in-out;
        transform: rotate(0deg);
        z-index: 105;
        padding-right: 8%; } }

.upper-post-it {
  text-align: center;
  border: 1px solid white; }

/**** global school *****/
.global-school {
  border: 1px solid white; }
  .global-school h1 {
    font-family: Domine;
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    letter-spacing: normal;
    color: #ffffff; }
  .global-school #copy-header {
    font-size: 20px;
    line-height: 1.65;
    color: #ffffff;
    margin-right: 30px;
    margin-top: 15px; }
  .global-school .applynow {
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.034em; }
    @media screen and (max-width: 762px) {
      .global-school .applynow {
        display: inline-block;
        width: 89%;
        margin: 0 auto;
        font-size: 1.2em; } }

/** lower postit ****/
.lower-postit {
  --oPadding: calc(0.16 * 100vw); }

.lower-pink .lower-arrow {
  text-align: center;
  color: white;
  vertical-align: middle; }
  @media screen and (max-width: 992px) {
    .lower-pink .lower-arrow {
      margin-top: 6.25em;
      text-align: center;
      color: white;
      vertical-align: middle;
      padding-top: 6.25em; } }

.lower-pink2 {
  background-image: -webkit-linear-gradient(280deg, #5B00FF 50%, #F8F9FF 51%);
  height: 200px;
  margin-top: -80px;
  margin-left: -5%; }
  @media screen and (max-width: 992px) {
    .lower-pink2 {
      background-image: -webkit-linear-gradient(280deg, #5B00FF 50%, #F8F9FF 51%);
      height: 200px;
      margin-top: -20px;
      margin-left: -6%; } }

/*--first yellow graphity yellow-->*/
#first-white-block {
  background-color: #F8F9FF;
  padding-top: 1em; }
  #first-white-block .center-heading {
    border: 1px solid black;
    margin: auto;
    text-align: center; }
    #first-white-block .center-heading #life-changing-experience-title {
      background: url("../images/graphity_yellow.svg") no-repeat;
      resize: both;
      background-position: center;
      padding: 23px 18px 15px;
      overflow: visible;
      font-family: Domine;
      font-size: 36px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: var(--dusk);
      margin-bottom: 3%; }
  #first-white-block .center-heading-undertxt {
    text-align: center;
    margin: auto;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.65;
    letter-spacing: normal;
    text-align: center;
    color: #636c98; }

/*<!--______3 cubes section______-->*/
.cubes {
  padding-bottom: 3em;
  margin-top: 3%; }
  .cubes .cube-1 {
    margin-left: 6%;
    padding: 1%;
    text-align: center;
    line-height: 1.41;
    color: #636c98;
    padding: 0 25px; }
    .cubes .cube-1 a {
      text-decoration: none;
      color: #47CDAF; }
    .cubes .cube-1 img {
      width: 100%; }
    .cubes .cube-1 p {
      font-family: Montserrat;
      font-size: 17px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal; }
  .cubes .cube-2 {
    margin-left: 6%;
    padding: 1%;
    text-align: center;
    line-height: 1.41;
    color: #636c98;
    padding: 0 25px; }
    .cubes .cube-2 a {
      text-decoration: none;
      color: #47CDAF; }
    .cubes .cube-2 img {
      width: 100%; }
    .cubes .cube-2 p {
      font-family: Montserrat;
      font-size: 17px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal; }
  .cubes .cube-3 {
    margin-left: 6%;
    padding: 1%;
    text-align: center;
    line-height: 1.41;
    color: #636c98;
    padding: 0 25px; }
    .cubes .cube-3 a {
      text-decoration: none;
      color: #47CDAF; }
    .cubes .cube-3 img {
      width: 100%; }
    .cubes .cube-3 p {
      font-family: Montserrat;
      font-size: 17px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal; }

/*<!--___________STUDENT LIFE________-->*/
div[id="student-life"] {
  /*<!--Your Coding Partner-->*/
  /**<!--Your dedicated mentor-->*/ }
  div[id="student-life"] .heading {
    text-align: center;
    margin: auto; }
    div[id="student-life"] .heading #student-life-title {
      background: url("../images/grafity-green.svg") no-repeat;
      background-size: 100% 100%;
      resize: both;
      background-position: center;
      padding: 21px 8px;
      margin: 87px 0 15px;
      overflow: visible;
      font-family: Domine;
      font-size: 36px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: var(--dusk);
      color: #f9f9f9; }
  div[id="student-life"] .under-heading-txt {
    text-align: center;
    margin: auto;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.65;
    letter-spacing: normal;
    text-align: center;
    color: #636c98; }
  div[id="student-life"] .coding-partner {
    margin-top: 3%;
    border: 1px solid black; }
    div[id="student-life"] .coding-partner .left {
      padding-left: 6%;
      padding-right: 6%; }
      @media screen and (max-width: 768px) {
        div[id="student-life"] .coding-partner .left {
          margin: auto; } }
      div[id="student-life"] .coding-partner .left h3 {
        margin-top: 25px;
        margin-bottom: 19px;
        font-family: Domine;
        font-size: 28px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: var(--dusk); }
      div[id="student-life"] .coding-partner .left p {
        font-family: Montserrat;
        font-size: 17px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.94;
        letter-spacing: normal;
        color: #636c98; }
      div[id="student-life"] .coding-partner .left .faq-article-link {
        font-family: Montserrat;
        text-decoration: none;
        font-size: 16px;
        font-weight: 800;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.19;
        letter-spacing: normal;
        color: #5B00FF;
        display: block; }
      div[id="student-life"] .coding-partner .left #square-thingy-3 {
        margin: -16px -40px -49px -34px;
        z-index: -1;
        display: inline-block; }
    div[id="student-life"] .coding-partner .right {
      padding-right: 2%;
      padding-left: 2%; }
      @media screen and (max-width: 768px) {
        div[id="student-life"] .coding-partner .right {
          margin: auto;
          padding-left: 5%; } }
      div[id="student-life"] .coding-partner .right img {
        max-width: 100%;
        height: auto; }
    div[id="student-life"] .coding-partner .xright #half-circle-1 {
      position: absolute; }
  div[id="student-life"] .dedicated-mentor {
    border: 1px solid black; }
    div[id="student-life"] .dedicated-mentor .xleft {
      border: 1px solid black; }
    div[id="student-life"] .dedicated-mentor .left {
      border: 1px solid black;
      padding-top: 14em;
      padding-right: 6%; }
      @media screen and (max-width: 768px) {
        div[id="student-life"] .dedicated-mentor .left {
          margin: auto;
          padding-top: 3%; } }
      div[id="student-life"] .dedicated-mentor .left img {
        max-width: 100%;
        height: auto; }
    div[id="student-life"] .dedicated-mentor .right {
      padding-top: 14em;
      padding-right: 2%;
      padding-left: 2%; }
      @media screen and (max-width: 768px) {
        div[id="student-life"] .dedicated-mentor .right {
          margin: auto;
          padding-left: 5%;
          padding-top: 3%; } }
      div[id="student-life"] .dedicated-mentor .right h3 {
        margin-top: 25px;
        margin-bottom: 19px;
        font-family: Domine;
        font-size: 28px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: var(--dusk); }
      div[id="student-life"] .dedicated-mentor .right p {
        font-family: Montserrat;
        font-size: 17px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.94;
        letter-spacing: normal;
        color: #636c98; }
      div[id="student-life"] .dedicated-mentor .right .faq-article-link {
        font-family: Montserrat;
        text-decoration: none;
        font-size: 16px;
        font-weight: 800;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.19;
        letter-spacing: normal;
        color: #5B00FF;
        display: block; }
      div[id="student-life"] .dedicated-mentor .right #square-thingy-3 {
        margin: -16px -40px -49px -34px;
        z-index: -1;
        display: inline-block; }

/*# sourceMappingURL=main.louis.css.map */
