/********************************************/
/*             TOP TO MIDDLE                */
/********************************************/
/************ Microverse Rainbow strips **********/
@import url("https://fonts.googleapis.com/css?family=Domine|Montserrat|Maven+Pro");

.strips {
  transform: rotate(-3.9deg);
  margin-top: -2.4em;
  margin-left: 0.2%;
  width: 99.4%;
}

.strips .strip-row .color {
  height: 3em;
}

.strips .strip-row .myellow {
  background-color: rgba(247, 247, 205, 0.67);
}

.strips .strip-row .mgreen {
  background-color: rgba(65, 211, 189, 0.56);
}

.strips .strip-row .mpink {
  background-color: rgba(111, 35, 255, 0.35);
}

.strips .strip-row .mwhite {
  background-color: #fff;
}

.strips .strip-row .light-pink {
  background-color: #F8F9FF;
}

/************ [end]Microverse Rainbow strips **********/
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

/***** body *****/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.yellow-buttons {
  background-color: #FFCE32;
  color: #2F2F30;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 50px;
  padding-left: 50px;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

/***** upper container *****/
div[id="upper-container"] {
  background: url("../images/computer_girl.png") 130% 0 no-repeat;
  background-color: #5B00FF;
  padding-left: 6%;
}

@media screen and (max-width: 762px) {
  div[id="upper-container"] {
    background: url("../images/computer_girl.png") 100% 0 no-repeat;
    background-color: #5B00FF;
    padding-left: 6%;
  }
}

/********* menu *********/
.menu {
  padding-top: 3%;
  font-weight: 600;
}

.menu .logo {
  padding-left: 6%;
}

.menu .logo .navbar-logo {
  font-family: "Maven Pro";
  font-size: 34px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  text-align: left;
}

.menu .nav-links {
  text-align: right;
  padding-right: 8%;
}

.menu .nav-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu .nav-links li {
  display: inline-block;
  color: #ffffff;
}

.menu .nav-links a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
  color: white;
}

.menu .nav-links .last-menu {
  background-color: #FFCE32;
  color: #2F2F30;
  padding-bottom: 11px;
  padding-top: 10px;
  padding-right: 25px;
  padding-left: 25px;
  margin-top: 0;
  margin-right: 0;
  margin-left: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

.menu .mybars {
  display: none;
  color: white;
}

@media screen and (max-width: 990px) {
  .menu .mybars {
    display: inline-block;
    color: white;
    text-align: right;
    height: 30px;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    transform: rotate(0deg);
    z-index: 105;
    padding-right: 8%;
  }
}

.upper-post-it {
  text-align: center;
}

/**** global school *****/
.global-school h1 {
  font-family: Domine;
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  color: #ffffff;
}

.global-school #copy-header {
  font-size: 20px;
  line-height: 1.65;
  color: #ffffff;
  margin-right: 30px;
  margin-top: 15px;
}

.global-school .applynow {
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.034em;
}

@media screen and (max-width: 762px) {
  .global-school .applynow {
    display: inline-block;
    width: 89%;
    margin: 0 auto;
    font-size: 1.2em;
  }
}

/** lower postit ****/
.lower-pink .lower-arrow {
  text-align: center;
  color: white;
  vertical-align: middle;
  padding-top: 10.25em;
}

@media screen and (max-width: 992px) {
  .lower-pink .lower-arrow {
    margin-top: 6.25em;
    text-align: center;
    color: white;
    vertical-align: middle;
    padding-top: 6.25em;
  }
}

.lower-pink2 {
  background-image: -webkit-linear-gradient(280deg, #5B00FF 50%, #F8F9FF 51%);
  height: 200px;
  margin-top: -80px;
  margin-left: -5%;
}

@media screen and (max-width: 992px) {
  .lower-pink2 {
    background-image: -webkit-linear-gradient(280deg, #5B00FF 50%, #F8F9FF 51%);
    height: 200px;
    margin-top: -20px;
    margin-left: -6%;
  }
}

/*--first yellow graphity yellow-->*/
#first-white-block {
  background-color: #F8F9FF;
  padding-top: 1em;
}

#first-white-block .center-heading {
  margin: auto;
  text-align: center;
}

#first-white-block .center-heading #life-changing-experience-title {
  background: url("../images/graphity_yellow.svg") no-repeat;
  resize: both;
  background-position: center;
  padding: 23px 18px 15px;
  overflow: visible;
  font-family: Domine;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #3e396b;
  margin-bottom: 3%;
}

#first-white-block .center-heading-undertxt {
  text-align: center;
  margin: auto;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.65;
  letter-spacing: normal;
  text-align: center;
  color: #636c98;
}

/*<!--______3 cubes section______-->*/
.cubes {
  padding-bottom: 3em;
  margin-top: 3%;
}

.cubes .cube-1 {
  margin-left: 6%;
  padding: 1%;
  text-align: center;
  line-height: 1.41;
  color: #636c98;
  padding: 0 25px;
}

.cubes .cube-1 a {
  text-decoration: none;
  color: #47CDAF;
}

.cubes .cube-1 img {
  width: 100%;
}

.cubes .cube-1 p {
  font-family: Montserrat;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

.cubes .cube-2 {
  margin-left: 6%;
  padding: 1%;
  text-align: center;
  line-height: 1.41;
  color: #636c98;
  padding: 0 25px;
}

.cubes .cube-2 a {
  text-decoration: none;
  color: #47CDAF;
}

.cubes .cube-2 img {
  width: 100%;
}

.cubes .cube-2 p {
  font-family: Montserrat;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

.cubes .cube-3 {
  margin-left: 6%;
  padding: 1%;
  text-align: center;
  line-height: 1.41;
  color: #636c98;
  padding: 0 25px;
}

.cubes .cube-3 a {
  text-decoration: none;
  color: #47CDAF;
}

.cubes .cube-3 img {
  width: 100%;
}

.cubes .cube-3 p {
  font-family: Montserrat;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

/*<!--___________STUDENT LIFE________-->*/
div[id="student-life"] {
  padding-bottom: 5%;
  /*<!--Your Coding Partner-->*/
  /**<!--Your dedicated mentor-->*/
  /**<!--Your daily schedule-->*/
}

div[id="student-life"] .heading {
  text-align: center;
  margin: auto;
}

div[id="student-life"] .heading #student-life-title {
  background: url("../images/grafity-green.svg") no-repeat;
  background-size: 100% 100%;
  resize: both;
  background-position: center;
  padding: 21px 8px;
  margin: 87px 0 15px;
  overflow: visible;
  font-family: Domine;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #3e396b;
  color: #f9f9f9;
}

div[id="student-life"] .under-heading-txt {
  text-align: center;
  margin: auto;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.65;
  letter-spacing: normal;
  text-align: center;
  color: #636c98;
}

div[id="student-life"] .coding-partner {
  margin-top: 3%;
}

div[id="student-life"] .coding-partner .left {
  padding-left: 6%;
  padding-right: 6%;
}

@media screen and (max-width: 768px) {
  div[id="student-life"] .coding-partner .left {
    margin: auto;
  }
}

div[id="student-life"] .coding-partner .left h3 {
  margin-top: 25px;
  margin-bottom: 19px;
  font-family: Domine;
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3e396b;
}

div[id="student-life"] .coding-partner .left p {
  font-family: Montserrat;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.94;
  letter-spacing: normal;
  color: #636c98;
}

div[id="student-life"] .coding-partner .left .faq-article-link {
  font-family: Montserrat;
  text-decoration: none;
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.19;
  letter-spacing: normal;
  color: #5B00FF;
  display: block;
}

div[id="student-life"] .coding-partner .left .square-thingy-3 {
  /*** small post-it image on headings***/
  margin: -16px -40px -49px -34px;
  z-index: -1;
  display: inline-block;
}

div[id="student-life"] .coding-partner .right {
  padding-right: 2%;
  padding-left: 2%;
}

@media screen and (max-width: 768px) {
  div[id="student-life"] .coding-partner .right {
    margin: auto;
    padding-left: 5%;
  }
}

div[id="student-life"] .coding-partner .right img {
  max-width: 100%;
  height: auto;
}

div[id="student-life"] .coding-partner .xright img {
  width: 100%;
}

div[id="student-life"] .dedicated-mentor .xleft img {
  width: 100%;
}

div[id="student-life"] .dedicated-mentor .left {
  padding-top: 14em;
  padding-right: 6%;
}

@media screen and (max-width: 768px) {
  div[id="student-life"] .dedicated-mentor .left {
    margin: auto;
    padding-top: 3%;
  }
}

div[id="student-life"] .dedicated-mentor .left img {
  max-width: 100%;
  height: auto;
}

div[id="student-life"] .dedicated-mentor .right {
  padding-top: 14em;
  padding-right: 2%;
  padding-left: 2%;
}

@media screen and (max-width: 768px) {
  div[id="student-life"] .dedicated-mentor .right {
    margin: auto;
    padding-left: 5%;
    padding-top: 3%;
  }
}

div[id="student-life"] .dedicated-mentor .right h3 {
  margin-top: 25px;
  margin-bottom: 19px;
  font-family: Domine;
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3e396b;
}

div[id="student-life"] .dedicated-mentor .right p {
  font-family: Montserrat;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.94;
  letter-spacing: normal;
  color: #636c98;
}

div[id="student-life"] .dedicated-mentor .right .faq-article-link {
  font-family: Montserrat;
  text-decoration: none;
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.19;
  letter-spacing: normal;
  color: #5B00FF;
  display: block;
}

div[id="student-life"] .dedicated-mentor .right .square-thingy-3 {
  /*** small post-it image on headings***/
  margin: -16px -40px -49px -34px;
  z-index: -1;
  display: inline-block;
}

div[id="student-life"] .dedicated-mentor .xright img {
  width: 100%;
}

div[id="student-life"] .daily-schedule {
  padding-top: 8%;
}

div[id="student-life"] .daily-schedule .left {
  padding-left: 6%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  div[id="student-life"] .daily-schedule .left {
    margin: auto;
    padding-top: 3%;
  }
}

div[id="student-life"] .daily-schedule .left .square-thingy-3 {
  /*** small post-it image on headings***/
  margin: -16px -40px -49px -34px;
  z-index: -1;
  display: inline-block;
}

div[id="student-life"] .daily-schedule .left h3 {
  margin-top: 25px;
  margin-bottom: 19px;
  font-family: Domine;
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3e396b;
}

div[id="student-life"] .daily-schedule .left p {
  font-family: Montserrat;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.94;
  letter-spacing: normal;
  color: #636c98;
}

div[id="student-life"] .daily-schedule .left p .inner-green-link {
  color: #20c997;
  text-decoration: none;
}

div[id="student-life"] .daily-schedule .left .faq-article-link {
  font-family: Montserrat;
  text-decoration: none;
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.19;
  letter-spacing: normal;
  color: #5B00FF;
  display: block;
}

div[id="student-life"] .daily-schedule .right {
  padding-left: 3%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  div[id="student-life"] .daily-schedule .right {
    margin: auto;
    padding-left: 5%;
    padding-top: 3%;
  }
}

div[id="student-life"] .daily-schedule .right img {
  max-width: 100%;
}

.upper-worldclass-slope {
  background-image: -webkit-linear-gradient(280deg, white 50%, #F8F9FF 51%);
  height: 200px;
  margin-left: -5%;
}

/*<!--_______SLIGHT PINK BLOCK_______-->*/
div[id="slight-pink"] {
  background-color: #F8F9FF;
  text-align: center;
  /*<!--progamming language logos-->*/
  /*<!--_______SYLABUS block_______-->*/
}

div[id="slight-pink"] .left {
  padding-left: 6%;
  padding-right: 4%;
}

@media screen and (max-width: 768px) {
  div[id="slight-pink"] .left {
    margin: auto;
    padding-top: 3%;
  }
}

div[id="slight-pink"] .left #world-class-curriculum-title {
  background: url("https://www.microverse.org/img/brush-stroke-banner-1-onlygfx-dot-com_3.svg") no-repeat;
  background-size: 100% 100%;
  resize: both;
  background-position: left;
  padding: 22px 52px 16px;
  text-align: left;
  width: 89%;
  font-family: Domine;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #3e396b;
}

div[id="slight-pink"] .left p {
  text-align: center;
  margin: auto;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.65;
  letter-spacing: normal;
  text-align: center;
  color: #636c98;
}

@media screen and (max-width: 768px) {
  div[id="slight-pink"] .right {
    margin: auto;
    padding-top: 3%;
  }
}

div[id="slight-pink"] .right img {
  max-width: 85%;
}

div[id="slight-pink"] .programming-logos {
  padding-top: 5%;
  padding-bottom: 7%;
}

div[id="slight-pink"] .programming-logos img {
  display: inline-block;
  margin: 2% 2%;
}

div[id="slight-pink"] .programming-logos hr {
  width: 800%;
  height: 2px;
  border: 1px;
  color: #e9e9e9;
  background-color: #e9e9e9;
  border-color: #e9e9e9;
}

div[id="slight-pink"] .syllabus {
  padding-bottom: 7em;
}

div[id="slight-pink"] .syllabus #get-syllabus-title {
  font-size: 20px;
  margin-bottom: 0;
  font-family: Montserrat;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.94;
  letter-spacing: normal;
  color: #343a40;
}

div[id="slight-pink"] .syllabus #get-syllabus-email {
  width: 35%;
  height: 52px;
  padding: 0 24px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.65;
  letter-spacing: normal;
  color: #343a40;
  text-overflow: ellipsis;
  border-radius: 4px;
  box-shadow: 0 2px 6px 0 rgba(186, 186, 186, 0.5);
  margin: 34px auto 15px auto;
  border-color: transparent;
}

div[id="slight-pink"] .syllabus #syllabus-checkmark-label {
  font-size: 14px;
  color: #343a40;
  font-family: Montserrat;
  font-weight: 600;
}

div[id="slight-pink"] .syllabus #yellow-button-get-syllabus {
  background-color: #FFCE32;
  color: #2F2F30;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 50px;
  padding-left: 50px;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 1.3em;
}

body {
  font-family: Montserrat;
}

#global-community {
  margin-top: 50px;
  background: #fff;
}

#global-community>.title {
  color: #3e396b;
  text-align: center;
  background: url(https://www.microverse.org/img/brush-stroke-banner-1-onlygfx-dot-com.svg) top left/100% 100% no-repeat;
}

@media screen and (max-width: 575px) {
  #global-community>.title {
    width: 90%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

#global-community>.map {
  margin: 50px 0;
}

#global-community>.map>img {
  width: 100%;
}

#global-community #testimonials {
  margin: 50px 0;
}

#global-community #testimonials>div {
  margin-bottom: 40px;
  padding: 0 25px;
}

#global-community #testimonials .card {
  font-size: 14px;
  position: relative;
  background: #f9fafd;
  padding: 26px 28px 15px 70px;
  box-shadow: 0 30px 30px -15px #eee;
}

#global-community #testimonials .card>.picture {
  top: 15px;
  left: -25px;
  position: absolute;
  background-repeat: no-repeat;
}

#global-community #testimonials .card>.picture>img {
  transform: translate(-10px, 10px);
}

#global-community #testimonials .card:nth-of-type(1)>.picture {
  background-image: url(https://www.microverse.org/img/oval-3.svg);
}

#global-community #testimonials .card:nth-of-type(2)>.picture {
  background-size: 100% 100%;
  background-image: url(https://www.microverse.org/img/rectangle-8.svg);
}

#global-community #testimonials .card:nth-of-type(2)>.picture>img {
  transform: translate(-20px, 7px);
}

#global-community #testimonials .card:nth-of-type(3)>.picture {
  background-image: url(https://www.microverse.org/img/triangle-3.svg);
}

#global-community #testimonials .card>p:first-of-type {
  font-style: italic;
}

#global-community #testimonials .card>p:nth-of-type(2) {
  color: #3e396b;
  margin-bottom: 0;
  font-weight: 900;
}

#global-community #testimonials .card>p:nth-of-type(3) {
  color: #adadad;
  margin-top: 0;
}

#global-community #testimonials .card>.quotation-mark {
  float: left;
  height: 50px;
  color: #e7e7e7;
  margin: -35px 0 0 -35px;
  font: normal 70px "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

#global-community>p {
  font-size: 20px;
  color: #636c98;
  line-height: 1.65;
  text-align: center;
}

#global-community #community-testimonials {
  overflow: hidden;
  margin-top: 100px;
  position: relative;
  transform: skewY(-9deg);
}

@media screen and (max-width: 768px) {
  #global-community #community-testimonials .order-4 {
    order: 4;
  }
}

#global-community #community-testimonials>.content {
  overflow: visible;
}

#global-community #community-testimonials>.content>div {
  position: relative;
  transform: skewY(0deg);
}

@media screen and (max-width: 768px) {
  #global-community #community-testimonials>.content>div {
    padding: 0 10%;
    text-align: center;
  }
}

#global-community #community-testimonials>.content>div:nth-of-type(odd) {
  padding-right: 10%;
}

#global-community #community-testimonials>.content>div:nth-of-type(odd)::after {
  right: 0;
}

#global-community #community-testimonials>.content>div:nth-of-type(even) {
  padding-left: 10%;
}

#global-community #community-testimonials>.content>div:nth-of-type(even)::after {
  left: 0;
}

#global-community #community-testimonials>.content>div:nth-of-type(1)::after,
#global-community #community-testimonials>.content>div:nth-of-type(4)::after {
  top: 0;
  content: "";
  width: 150%;
  height: 100%;
  z-index: -1;
  position: absolute;
  transform: skewY(0deg);
  background: #f8faff;
}

#global-community #community-testimonials>.content>div>* {
  transform: skewY(9deg);
  transform-origin: top left;
}

#global-community #community-testimonials>.content>div>h3 {
  color: #3e396b;
  font-size: 28px;
  margin-top: 80px;
  font-family: Domine;
  margin-bottom: 18px;
}

#global-community #community-testimonials>.content>div>p {
  font-size: 17px;
  color: #636c98;
  line-height: 1.94;
  margin: 0 0 20px 0;
}

#global-community #community-testimonials>.content>div>a {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 140px;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  #global-community #community-testimonials>.content>div>a {
    width: auto;
    margin-top: 40px;
  }
}

#global-community #community-testimonials>.content>.picture {
  display: grid;
  padding-top: 100px;
  align-items: center;
  padding-bottom: 100px;
  justify-items: center;
  transform: skewY(9deg);
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
}

#global-community #community-testimonials>.content>.picture>img {
  max-width: 90%;
  transform: skewY(0deg);
}

h2.title {
  margin: 10px 0;
  font-size: 2.5em;
  padding: 17px 100px;
  font-family: Domine;
}

#founder-story {
  overflow: visible;
  margin-bottom: 170px;
  background: #f7f5ee;
  transform: skewY(-9deg);
}

#founder-story .ariel-portrait {
  text-align: center;
}

#founder-story .ariel-portrait img {
  max-height: 100%;
}

#founder-story .ariel-portrait img.signature {
  margin: auto;
  display: block;
  max-width: 150px;
}

#founder-story .ariel-portrait>div>img {
  flex-grow: 0;
}

@media screen and (max-width: 992px) {
  #founder-story .ariel-portrait {
    height: 475px;
  }
}

@media screen and (max-width: 768px) {
  #founder-story .ariel-portrait {
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  #founder-story .ariel-portrait {
    order: 2;
  }
}

#founder-story>.content {
  background: #f7f5ee;
  transform: skewY(9deg);
  transform-origin: top left;
}

#founder-story>.content>div:last-of-type {
  text-align: right;
  padding: 0 0 40px 40px;
}

@media screen and (max-width: 768px) {
  #founder-story>.content>div:last-of-type {
    padding: 20px;
    text-align: center;
    align-items: center;
  }
}

#founder-story>.content>div:last-of-type>.title {
  color: #fff;
  font-size: 36px;
  padding-left: 55px;
  padding-right: 62px;
  margin-bottom: 30px;
  background: url(https://www.microverse.org/img/brush-stroke-banner-1-onlygfx-dot-com_5.svg) top left/100% 100% no-repeat;
}

@media screen and (max-width: 575px) {
  #founder-story>.content>div:last-of-type>.title {
    width: 90%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

#founder-story>.content>div:last-of-type>p {
  color: #3e396b;
  font-size: 20px;
  line-height: 1.65;
}

#tuition {
  text-align: center;
  position: relative;
}

#tuition::after {
  top: 0;
  bottom: 0;
  width: 100%;
  content: "";
  z-index: -1;
  margin: auto;
  height: 500px;
  display: block;
  position: absolute;
  transform: skewY(-9deg);
  background: #f8faff;
}

#tuition .title {
  color: #fff;
  font-size: 36px;
  margin-bottom: 30px;
  padding-left: 150px;
  padding-right: 150px;
  background: url(https://www.microverse.org/img/path-5185_2.svg) top left/100% 100% no-repeat;
}

@media screen and (max-width: 768px) {
  #tuition .title {
    width: 90%;
    padding-left: 5px;
    padding-right: 5px;
  }
}

#tuition>p {
  font-size: 20px;
  line-height: 1.65;
  color: #636c98;
}

#tuition>.white-card {
  text-align: center;
  border-radius: 8px;
  padding: 38px 70px 45px;
  background-color: #fff;
  box-shadow: 0 6px 12px 0 rgba(35, 18, 68, 0.18);
}

@media screen and (max-width: 768px) {
  #tuition>.white-card {
    padding: 20px;
  }
}

#tuition>.white-card .big-number {
  color: #3e396b;
  font-size: 60px;
  font-weight: bold;
}

#tuition>.white-card .big-number-cont {
  color: #3e396b;
  font-size: 22px;
  font-weight: 900;
  margin: 6px 0 19px;
}

#tuition>.white-card .white-card-copy {
  font-size: 17px;
  color: #636c98;
  font-weight: 400;
  line-height: 1.94;
}

#tuition .tuition-pathway-1 {
  position: relative;
}

#tuition .tuition-pathway-1 p {
  font-size: 22px;
  color: #636c98;
  line-height: 1.94;
  text-align: left;
  white-space: nowrap;
}

#tuition .tuition-pathway-1 p#step-1,
#tuition .tuition-pathway-1 p#step-2 {
  position: absolute;
}

@media screen and (max-width: 768px) {

  #tuition .tuition-pathway-1 p#step-1,
  #tuition .tuition-pathway-1 p#step-2 {
    font-size: 14px;
  }
}

#tuition .tuition-pathway-1 p#step-1 {
  top: 45px;
  left: calc(100% + 30px);
}

#tuition .tuition-pathway-1 p#step-2 {
  bottom: 25px;
  right: calc(100% + 30px);
}

#tuition .tuition-pathway-2>#step-3 {
  font-size: 22px;
  color: #636c98;
  line-height: 1.94;
  max-width: 360px;
}

#tuition svg line {
  fill: none;
  stroke: #3e396b;
  stroke-width: 3px;
  stroke-dasharray: 22px 8px;
}

#tuition svg circle {
  fill: #3e396b;
}

#tuition>img {
  position: absolute;
}

@media screen and (max-height: 768px) {
  #tuition>img {
    opacity: 0.7;
  }
}

#tuition #square-thingy-6 {
  top: 264px;
  right: 15.6vw;
}

#tuition #square-thingy-7 {
  top: 645px;
  left: 7.4vw;
}

#tuition #square-thingy-8 {
  top: 978px;
  right: 10.2vw;
}

#tuition #square-thingy-9 {
  top: 1181px;
  left: 12vw;
}

#application-process {
  text-align: center;
  background: #f8faff;
}

#application-process .title {
  color: #3e396b;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin: 115px 0 20px;
  background: url(https://www.microverse.org/img/brush-stroke-banner-1-onlygfx-dot-com_4.svg) top left/100% 100% no-repeat;
}

@media screen and (max-width: 575px) {
  #application-process .title {
    width: 90%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

#application-process>p {
  font-size: 20px;
  margin: 0 0 50px;
  color: #636c98;
  line-height: 1.65;
  text-align: center;
}

#application-process .table {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(4, minmax(20%, 222px));
  grid-gap: 11px 12px;
  text-align: center;
  border-radius: 8px;
  align-items: stretch;
  position: relative;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  #application-process .table {
    display: block;
  }
}

#application-process .table .header {
  margin: 0;
  color: #fff;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  position: relative;
  text-align: center;
  border-radius: 8px;
  white-space: normal;
  align-items: center;
  word-wrap: break-word;
  justify-content: center;
  overflow-wrap: break-word;
  padding: 18px 24px 18px 30px;
  background-color: #6f23ff;
}

@media screen and (max-width: 768px) {
  #application-process .table .header {
    margin-bottom: 10px;
  }
}

#application-process .table .header:not(:first-of-type)::before {
  top: 0;
  height: 0;
  bottom: 0;
  left: -4px;
  content: "";
  margin: auto;
  z-index: 100;
  display: block;
  position: absolute;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 14px solid #fff;
}

@media screen and (max-width: 768px) {
  #application-process .table .header:not(:first-of-type)::before {
    display: none;
  }
}

#application-process .table .header:not(:last-of-type)::after {
  top: 0;
  height: 0;
  bottom: 0;
  left: 100%;
  content: "";
  margin: auto;
  z-index: 101;
  display: block;
  position: absolute;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 14px solid #6f23ff;
}

@media screen and (max-width: 768px) {
  #application-process .table .header:not(:last-of-type)::after {
    display: none;
  }
}

#application-process .table .header svg {
  top: -15px;
  left: -8px;
  position: absolute;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
}

@media screen and (max-width: 768px) {
  #application-process .table .header svg {
    top: 0;
    bottom: 0;
    left: 15px;
    margin: auto;
  }
}

#application-process .table .header svg circle {
  fill: #41d3bd;
}

#application-process .table .header svg text {
  fill: #fff;
  font: bold 20px Montserrat;
}

#application-process .table>.content {
  padding: 11px 27px;
  border-radius: 8px;
  background-color: #ede4ff;
}

@media screen and (max-width: 768px) {
  #application-process .table>.content {
    margin-bottom: 50px;
  }
}

#application-process .table>.content button {
  width: 100%;
  color: #3e396b;
  border: none;
  display: block;
  padding: 7px 0;
  font-size: 16px;
  font-weight: 600;
  margin: 5px auto;
  max-width: 178px;
  text-align: center;
  border-radius: 16.5px;
  background: rgba(65, 211, 189, 0.25);
}

#application-process .table>.content p {
  margin: 0;
  color: #3e396b;
  padding: 26px 0;
  font-size: 16px;
  line-height: 1.81;
  text-align: center;
}

#application-process .table>.content.step-1 button {
  color: #fff;
  background: #a06eff;
}

#application-process .table>.content.step-4 button {
  background: #f9f1ae;
}

#application-process .apply-button {
  margin-top: 100px;
  padding: 15px 117px;
  margin-bottom: 15px;
  display: inline-block;
}

@media screen and (max-width: 575px) {
  #application-process .apply-button {
    width: 90%;
    margin-top: 25px;
    padding: 15px 5px;
  }
}

#application-process .copy-after-button {
  font-size: 14px;
  line-height: 2.07;
  margin-bottom: 76px;
}

#faq {
  text-align: center;
  background: #fff;
  position: relative;
}

#faq .title {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding-left: 170px;
  padding-right: 170px;
  margin: 100px 0 20px;
  background: url(https://www.microverse.org/img/brush-stroke-banner-1-onlygfx-dot-com_5.svg) top left/100% 100% no-repeat;
}

@media screen and (max-width: 575px) {
  #faq .title {
    width: 90%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

#faq>p {
  font-size: 20px;
  margin: 0 0 50px;
  color: #636c98;
  line-height: 1.65;
  text-align: center;
}

#faq .item {
  text-align: left;
}

@media screen and (max-width: 768px) {
  #faq .item {
    text-align: center;
  }
}

#faq .item h3 {
  color: #3e396b;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.83;
  margin-bottom: 10px;
  font-family: "Avenir Next", "Nunito", sans-serif;
}

#faq .item p {
  font-size: 16px;
  color: #636c98;
  line-height: 2.06;
}

#faq .item p a {
  color: #41d3bd;
  text-decoration: none;
}

#faq .yellow-button {
  width: 333px;
  font-size: 18px;
}

#faq .yellow-button:first-of-type {
  margin-top: 130px;
  margin-bottom: 20px;
}

@media screen and (max-width: 575px) {
  #faq .yellow-button:first-of-type {
    margin-top: 25px;
  }
}

#faq .yellow-button:last-of-type {
  margin-bottom: 150px;
}

@media screen and (max-width: 575px) {
  #faq .yellow-button {
    width: 90%;
  }
}

#faq>img {
  position: absolute;
}

#faq #half-loop-1 {
  left: 0;
  top: 227px;
  height: auto;
  z-index: 101;
  max-height: 100%;
  max-width: 24.2vw;
}

#faq #half-loop-2 {
  right: 0;
  top: 732px;
  height: auto;
  z-index: 101;
  max-height: 100%;
  max-width: 20.7vw;
}

footer {
  color: #fff;
  padding: 50px 0;
  background: #3e396b;
  position: relative;
}

@media screen and (max-width: 768px) {
  footer {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

footer h3 {
  font-size: 22px;
  margin: 13px 0 40px;
  font-family: Domine;
}

footer .logo {
  color: #fff;
  margin-top: 0;
  font-size: 30px;
  font-weight: bold;
  font-family: "Maven Pro";
}

footer .copy {
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  footer>div:first-of-type {
    order: 3;
  }
}

footer>div:first-of-type a {
  margin-right: 20px;
  text-decoration: none;
}

footer>div:first-of-type a>img {
  width: 24px;
}

footer .list {
  padding: 0;
  list-style: none;
}

footer .list a {
  font-size: 16px;
  color: #d2fff8;
  font-weight: 600;
  line-height: 2.19;
  text-decoration: none;
}

footer>img {
  opacity: 0.4;
  position: absolute;
}

footer #square-thingy-10 {
  top: 38px;
  left: 20.9vw;
  z-index: 100;
}

footer #square-thingy-11 {
  right: 7vw;
  z-index: 100;
  bottom: 68.2px;
}

.yellow-button {
  padding: 15px;
  color: #3e3e3e;
  font-weight: 600;
  text-align: center;
  border-radius: 4px;
  background: #ffd540;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.19);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.57);
}

/*# sourceMappingURL=main.css.map */