        /********************************************/
        /*             TOP TO MIDDLE                */
        /********************************************/

        @import 'mixins';
        @import 'colors';
        @import 'strips';
        @import 'type';
        /***** body *****/

        body {
          @include default-styling;
        }

        .yellow-buttons {
          @include yellow-buttons;
        }

        /***** upper container *****/

        div[id="upper-container"] {
          background: url("../images/computer_girl.png") 130% 0 no-repeat;
          background-color: $microverse_pink;
          padding-left: 6%;

          //height: 500px;
          @media screen and (max-width: 762px) {
            background: url("../images/computer_girl.png") 100% 0 no-repeat;
            background-color: $microverse_pink;
            padding-left: 6%;
          }
        }

        @import 'nav_links_styles';

        .upper-post-it {
          text-align: center;
          //border: 1px solid white;
        }

        /**** global school *****/

        .global-school {

          //border: 1px solid white;
          h1 {
            font-family: Domine;
            font-size: 48px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.27;
            letter-spacing: normal;
            color: #ffffff;
          }

          #copy-header {
            font-size: 20px;
            line-height: 1.65;
            color: #ffffff;
            margin-right: 30px;
            margin-top: 15px;
          }

          .applynow {
            text-align: center;
            font-weight: 600;
            letter-spacing: 0.034em;

            @media screen and (max-width: 762px) {
              display: inline-block;
              width: 89%;
              margin: 0 auto;
              font-size: 1.2em;
            }
          }
        }

        /** lower postit ****/

        .lower-postit {
          //border: 1px solid seagreen;
          //height: 100px;
          --oPadding: calc(0.16 * 100vw);
        }

        .lower-pink {

          //background-image: -webkit-linear-gradient(280deg, $microverse_pink 50%, $microverse_white 51%);
          .lower-arrow {
            //border: 1px solid seagreen;
            text-align: center;
            color: white;
            vertical-align: middle;
            padding-top: 10.25em;

            @media screen and (max-width: 992px) {
              margin-top: 6.25em;
              text-align: center;
              color: white;
              vertical-align: middle;
              padding-top: 6.25em;
            }
          }
        }

        .lower-pink2 {
          background-image: -webkit-linear-gradient(280deg, $microverse_pink 50%, $microverse_white 51%);
          height: 200px;
          //border: 1px solid black;
          margin-top: -80px;
          margin-left: -5%;

          @media screen and (max-width: 992px) {
            background-image: -webkit-linear-gradient(280deg, $microverse_pink 50%, $microverse_white 51%);
            height: 200px;
            //border: 1px solid black;
            margin-top: -20px;
            margin-left: -6%;
          }
        }

        /*--first yellow graphity yellow-->*/

        #first-white-block {
          background-color: $microverse_white;
          padding-top: 1em;

          .center-heading {
            //border: 1px solid black;
            margin: auto;
            text-align: center;

            #life-changing-experience-title {
              background: url('../images/graphity_yellow.svg') no-repeat;
              //background-size: 100% 100%;
              resize: both;
              background-position: center;
              padding: 23px 18px 15px;
              //margin: 46px 0 24px;
              overflow: visible;
              @include h2-header;
              margin-bottom: 3%;
            }
          }

          .center-heading-undertxt {
            @include under-heading-txt;
          }
        }

        /*<!--______3 cubes section______-->*/

        .cubes {
          //border: 1px solid red;
          padding-bottom: 3em;
          margin-top: 3%;

          .cube-1 {
            @include cube-design;
          }

          .cube-2 {
            @include cube-design;
          }

          .cube-3 {
            @include cube-design;
          }
        }

        /*<!--___________STUDENT LIFE________-->*/

        div[id="student-life"] {
          padding-bottom: 5%;

          .heading {
            //border: 1px solid black;
            text-align: center;
            margin: auto;

            #student-life-title {
              background: url('../images/grafity-green.svg') no-repeat;
              background-size: 100% 100%;
              resize: both;
              background-position: center;
              padding: 21px 8px;
              margin: 87px 0 15px;
              overflow: visible;
              @include h2-header;
              color: #f9f9f9;
            }
          }

          .under-heading-txt {
            @include under-heading-txt;
          }

          /*<!--Your Coding Partner-->*/
          .coding-partner {
            margin-top: 3%;

            //border: 1px solid black;
            .left {
              //border: 1px solid black;
              padding-left: 6%;
              padding-right: 6%;

              @media screen and (max-width: 768px) {
                margin: auto;
              }

              h3 {
                margin-top: 25px;
                margin-bottom: 19px;
                @include h3-header;
              }

              p {
                @include paragraph-design;
              }

              .faq-article-link {
                @include faq-article-link;
              }

              #square-thingy-3 {
                @include square-thingy-3;
              }
            }

            .right {
              //border: 1px solid black;
              padding-right: 2%;
              padding-left: 2%;

              @media screen and (max-width: 768px) {
                margin: auto;
                padding-left: 5%;
              }

              img {
                max-width: 100%;
                height: auto;
              }
            }

            .xright {
              img {
                width: 100%;
              }
            }
          }

          /**<!--Your dedicated mentor-->*/
          .dedicated-mentor {

            //margin-top: 3%;
            //border: 1px solid black;
            .xleft {

              //border: 1px solid black;
              img {
                width: 100%;
              }
            }

            .left {
              //border: 1px solid black;
              padding-top: 14em;
              padding-right: 6%;

              @media screen and (max-width: 768px) {
                margin: auto;
                padding-top: 3%;
              }

              img {
                max-width: 100%;
                height: auto;
              }
            }

            .right {
              padding-top: 14em;
              //border: 1px solid black;
              padding-right: 2%;
              padding-left: 2%;

              @media screen and (max-width: 768px) {
                margin: auto;
                padding-left: 5%;
                padding-top: 3%;
              }

              h3 {
                margin-top: 25px;
                margin-bottom: 19px;
                @include h3-header;
              }

              p {
                @include paragraph-design;
              }

              .faq-article-link {
                @include faq-article-link;
              }

              #square-thingy-3 {
                @include square-thingy-3;
              }
            }

            .xright {

              //margin: 1px solid red;
              img {
                width: 100%;
              }
            }
          }

          /**<!--Your daily schedule-->*/
          .daily-schedule {
            //border: 1px solid red;
            padding-top: 8%;

            .left {
              //border: 1px solid green;
              padding-left: 6%;
              text-align: center;

              @media screen and (max-width: 768px) {
                margin: auto;
                padding-top: 3%;
              }

              #square-thingy-3 {
                @include square-thingy-3;
              }

              h3 {
                margin-top: 25px;
                margin-bottom: 19px;
                @include h3-header;
              }

              p {
                @include paragraph-design;

                .inner-green-link {
                  color: $teal;
                  text-decoration: none;
                }
              }

              .faq-article-link {
                @include faq-article-link;
              }
            }

            .right {
              padding-left: 3%;
              text-align: center;

              @media screen and (max-width: 768px) {
                margin: auto;
                padding-left: 5%;
                padding-top: 3%;
              }

              img {
                max-width: 100%;
              }
            }
          }
        }

        .upper-worldclass-slope {
          background-image: -webkit-linear-gradient(280deg, white 50%, $microver-light-pink 51%);
          height: 200px;
          //margin-top: -80px;
          margin-left: -5%;
        }

        /*<!--_______SLIGHT PINK BLOCK_______-->*/

        div[id="slight-pink"] {
          background-color: $microver-light-pink;
          text-align: center;

          .left {
            padding-left: 6%;
            padding-right: 4%;

            @media screen and (max-width: 768px) {
              margin: auto;
              padding-top: 3%;
            }

            #world-class-curriculum-title {
              background: url('https://www.microverse.org/img/brush-stroke-banner-1-onlygfx-dot-com_3.svg') no-repeat;
              background-size: 100% 100%;
              resize: both;
              background-position: left;
              padding: 22px 52px 16px;
              //margin: 16px -22px 25px;
              //float: left;
              text-align: left;
              width: 89%;
              @include h2-header;
            }

            p {
              text-align: center;
              margin: auto;
              font-family: Montserrat;
              font-size: 20px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.65;
              letter-spacing: normal;
              text-align: center;
              color: #636c98;
            }
          }

          .right {
            @media screen and (max-width: 768px) {
              margin: auto;
              padding-top: 3%;
            }

            img {
              max-width: 85%;
            }
          }

          /*<!--progamming language logos-->*/
          .programming-logos {
            padding-top: 5%;
            padding-bottom: 7%;

            img {
              display: inline-block;
              //border: 1px solid black;
              margin: 2% 2%;
            }

            hr {
              width: 800%;
              height: 2px;
              border: 1px;
              color: #e9e9e9;
              background-color: #e9e9e9;
              border-color: #e9e9e9;
            }
          }

          /*<!--_______SYLABUS block_______-->*/
          .syllabus {
            padding-bottom: 7em;

            #get-syllabus-title {
              font-size: 20px;
              margin-bottom: 0;
              font-family: Montserrat;
              font-weight: 800;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.94;
              letter-spacing: normal;
              color: $gray-dark;
            }

            #get-syllabus-email {
              width: 35%;
              height: 52px;
              padding: 0 24px;
              font-family: Montserrat;
              font-size: 20px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.65;
              letter-spacing: normal;
              color: $gray-dark;
              text-overflow: ellipsis;
              border-radius: 4px;
              box-shadow: 0 2px 6px 0 rgba(186, 186, 186, 0.5);
              //background-color: #ffffff;
              margin: 34px auto 15px auto;
              border-color: transparent;
            }

            #syllabus-checkmark-label {
              font-size: 14px;
              color: $gray-dark;
              font-family: Montserrat;
              font-weight: 600;
            }

            #yellow-button-get-syllabus {
              @include yellow-buttons;
              font-weight: 600;
              font-size: 1.3em;
            }
          }
        }

        // MIDDLE TO BOTTOM
        @import url('https://fonts.googleapis.com/css?family=Domine|Montserrat|Maven+Pro');

        body {
          font-family: Montserrat;
        }

        #global-community {
          margin-top: 50px;
          background: $white;

          >.title {
            color: $dusk;
            text-align: center;
            background: url(https://www.microverse.org/img/brush-stroke-banner-1-onlygfx-dot-com.svg) top left/100% 100% no-repeat;

            @media screen and (max-width: 575px) {
              width: 90%;
              padding-left: 15px;
              padding-right: 15px;
            }
          }

          >.map {
            margin: 50px 0;

            >img {
              width: 100%;
            }
          }

          #testimonials {
            margin: 50px 0;

            >div {
              margin-bottom: 40px;
              padding: 0 25px;
            }

            .card {
              font-size: 14px;
              position: relative;
              background: #f9fafd;
              padding: 26px 28px 15px 70px;
              box-shadow: 0 30px 30px -15px #eee;

              >.picture {
                top: 15px;
                left: -25px;
                position: absolute;
                background-repeat: no-repeat;

                >img {
                  transform: translate(-10px, 10px);
                }
              }

              &:nth-of-type(1) {
                >.picture {
                  background-image: url(https://www.microverse.org/img/oval-3.svg);
                }
              }

              &:nth-of-type(2) {

                >.picture {
                  background-size: 100% 100%;
                  background-image: url(https://www.microverse.org/img/rectangle-8.svg);

                  >img {
                    transform: translate(-20px, 7px);
                  }
                }
              }

              &:nth-of-type(3) {
                >.picture {
                  background-image: url(https://www.microverse.org/img/triangle-3.svg);
                }
              }

              >p:first-of-type {
                font-style: italic;
              }

              >p:nth-of-type(2) {
                color: $dusk;
                margin-bottom: 0;
                font-weight: 900;
              }

              >p:nth-of-type(3) {
                color: #adadad;
                margin-top: 0;
              }

              >.quotation-mark {
                float: left;
                height: 50px;
                color: #e7e7e7;
                margin: -35px 0 0 -35px;
                font: normal 70px "Lucida Grande", "Lucida Sans Unicode", sans-serif;
              }
            }
          }

          >p {
            font-size: 20px;
            color: #636c98;
            line-height: 1.65;
            text-align: center;
          }

          #community-testimonials {
            overflow: hidden;
            margin-top: 100px;
            position: relative;
            transform: skewY(-9deg);

            .order-4 {

              @media screen and (max-width: 768px) {
                order: 4;
              }
            }

            >.content {
              overflow: visible;

              >div {
                position: relative;
                transform: skewY(0deg);

                @media screen and (max-width: 768px) {
                  padding: 0 10%;
                  text-align: center;
                }

                &:nth-of-type(odd) {
                  &::after {
                    right: 0;
                  }

                  padding-right: 10%;
                }

                &:nth-of-type(even) {
                  &::after {
                    left: 0;
                  }

                  padding-left: 10%;
                }

                &:nth-of-type(1)::after,
                &:nth-of-type(4)::after {
                  top: 0;
                  content: "";
                  width: 150%;
                  height: 100%;
                  z-index: -1;
                  position: absolute;
                  transform: skewY(0deg);
                  background: $very-light-blue;
                }

                >* {
                  transform: skewY(9deg);
                  transform-origin: top left;
                }

                >h3 {
                  color: $dusk;
                  font-size: 28px;
                  margin-top: 80px;
                  font-family: Domine;
                  margin-bottom: 18px;
                }

                >p {
                  font-size: 17px;
                  color: #636c98;
                  line-height: 1.94;
                  margin: 0 0 20px 0;
                }

                >a {
                  width: 100%;
                  margin-top: 20px;
                  margin-bottom: 140px;
                  display: inline-block;

                  @media screen and (max-width: 768px) {
                    width: auto;
                    margin-top: 40px;
                  }
                }
              }

              >.picture {
                display: grid;
                padding-top: 100px;
                align-items: center;
                padding-bottom: 100px;
                justify-items: center;
                transform: skewY(9deg);
                grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));

                >img {
                  max-width: 90%;
                  transform: skewY(0deg);
                }
              }
            }
          }
        }

        h2.title {
          margin: 10px 0;
          font-size: 2.5em;
          padding: 17px 100px;
          font-family: Domine;
        }

        #founder-story {
          overflow: visible;
          margin-bottom: 170px;
          background: #f7f5ee;
          transform: skewY(-9deg);

          .ariel-portrait {
            text-align: center;

            img {
              max-height: 100%;

              &.signature {
                margin: auto;
                display: block;
                max-width: 150px;
              }
            }

            >div>img {
              flex-grow: 0;
            }

            @media screen and (max-width: 992px) {
              height: 475px;
            }

            @media screen and (max-width: 768px) {
              height: 400px;
            }

            @media screen and (max-width: 768px) {
              order: 2;
            }
          }

          >.content {
            background: #f7f5ee;
            transform: skewY(9deg);
            transform-origin: top left;

            >div:last-of-type {
              text-align: right;
              padding: 0 0 40px 40px;

              @media screen and (max-width: 768px) {
                padding: 20px;
                text-align: center;
                align-items: center;
              }

              >.title {
                color: #fff;
                font-size: 36px;
                padding-left: 55px;
                padding-right: 62px;
                margin-bottom: 30px;
                background: url(https://www.microverse.org/img/brush-stroke-banner-1-onlygfx-dot-com_5.svg) top left/100% 100% no-repeat;

                @media screen and (max-width: 575px) {
                  width: 90%;
                  padding-left: 15px;
                  padding-right: 15px;
                }
              }

              >p {
                color: $dusk;
                font-size: 20px;
                line-height: 1.65;
              }
            }
          }
        }

        #tuition {
          text-align: center;
          position: relative;

          &::after {
            top: 0;
            bottom: 0;
            width: 100%;
            content: "";
            z-index: -1;
            margin: auto;
            height: 500px;
            display: block;
            position: absolute;
            transform: skewY(-9deg);
            background: $very-light-blue;
          }

          .title {
            color: #fff;
            font-size: 36px;
            margin-bottom: 30px;
            padding-left: 150px;
            padding-right: 150px;
            background: url(https://www.microverse.org/img/path-5185_2.svg) top left/100% 100% no-repeat;

            @media screen and (max-width: 768px) {
              width: 90%;
              padding-left: 5px;
              padding-right: 5px;
            }
          }

          >p {
            font-size: 20px;
            line-height: 1.65;
            color: #636c98;
          }

          >.white-card {
            text-align: center;
            border-radius: 8px;
            padding: 38px 70px 45px;
            background-color: #fff;
            box-shadow: 0 6px 12px 0 rgba(35, 18, 68, 0.18);

            @media screen and (max-width: 768px) {
              padding: 20px;
            }

            .big-number {
              color: $dusk;
              font-size: 60px;
              font-weight: bold;
            }

            .big-number-cont {
              color: $dusk;
              font-size: 22px;
              font-weight: 900;
              margin: 6px 0 19px;
            }

            .white-card-copy {
              font-size: 17px;
              color: #636c98;
              font-weight: 400;
              line-height: 1.94;
            }
          }

          .tuition-pathway-1 {
            position: relative;

            p {
              font-size: 22px;
              color: #636c98;
              line-height: 1.94;
              text-align: left;
              white-space: nowrap;

              &#step-1,
              &#step-2 {
                position: absolute;

                @media screen and (max-width: 768px) {
                  font-size: 14px;
                }
              }

              &#step-1 {
                top: 45px;
                left: calc(100% + 30px);
              }

              &#step-2 {
                bottom: 25px;
                right: calc(100% + 30px);
              }
            }
          }

          .tuition-pathway-2>#step-3 {
            font-size: 22px;
            color: #636c98;
            line-height: 1.94;
            max-width: 360px;
          }

          svg line {
            fill: none;
            stroke: #3e396b;
            stroke-width: 3px;
            stroke-dasharray: 22px 8px;
          }

          svg circle {
            fill: #3e396b;
          }

          >img {
            position: absolute;

            @media screen and (max-height: 768px) {
              opacity: 0.7;
            }
          }

          #square-thingy-6 {
            top: 264px;
            right: 15.6vw;
          }

          #square-thingy-7 {
            top: 645px;
            left: 7.4vw;
          }

          #square-thingy-8 {
            top: 978px;
            right: 10.2vw;
          }

          #square-thingy-9 {
            top: 1181px;
            left: 12vw;
          }
        }

        #application-process {
          text-align: center;
          background: $very-light-blue;

          .title {
            color: $dusk;
            font-size: 36px;
            font-weight: bold;
            text-align: center;
            margin: 115px 0 20px;
            background: url(https://www.microverse.org/img/brush-stroke-banner-1-onlygfx-dot-com_4.svg) top left/100% 100% no-repeat;

            @media screen and (max-width: 575px) {
              width: 90%;
              padding-left: 15px;
              padding-right: 15px;
            }
          }

          >p {
            font-size: 20px;
            margin: 0 0 50px;
            color: #636c98;
            line-height: 1.65;
            text-align: center;
          }

          .table {
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: 1fr;
            grid-auto-rows: 1fr;
            grid-template-rows: repeat(2, auto);
            grid-template-columns: repeat(4, minmax(20%, 222px));
            grid-gap: 11px 12px;
            text-align: center;
            border-radius: 8px;
            align-items: stretch;
            position: relative;
            justify-content: center;

            @media screen and (max-width: 768px) {
              display: block;
            }

            .header {
              margin: 0;
              color: #fff;
              display: flex;
              font-size: 18px;
              font-weight: 600;
              position: relative;
              text-align: center;
              border-radius: 8px;
              white-space: normal;
              align-items: center;
              word-wrap: break-word;
              justify-content: center;
              overflow-wrap: break-word;
              padding: 18px 24px 18px 30px;
              background-color: $purplish-blue;

              @media screen and (max-width: 768px) {
                margin-bottom: 10px;
              }

              &:not(:first-of-type)::before {
                top: 0;
                height: 0;
                bottom: 0;
                left: -4px;
                content: "";
                margin: auto;
                z-index: 100;
                display: block;
                position: absolute;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 14px solid $white;

                @media screen and (max-width: 768px) {
                  display: none;
                }
              }

              &:not(:last-of-type)::after {
                top: 0;
                height: 0;
                bottom: 0;
                left: 100%;
                content: "";
                margin: auto;
                z-index: 101;
                display: block;
                position: absolute;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 14px solid $purplish-blue;

                @media screen and (max-width: 768px) {
                  display: none;
                }
              }

              svg {
                top: -15px;
                left: -8px;
                position: absolute;
                filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));

                @media screen and (max-width: 768px) {
                  top: 0;
                  bottom: 0;
                  left: 15px;
                  margin: auto;
                }

                circle {
                  fill: #41d3bd;
                }

                text {
                  fill: #fff;
                  font: bold 20px inherit;
                }
              }
            }

            >.content {
              padding: 11px 27px;
              border-radius: 8px;
              background-color: #ede4ff;

              @media screen and (max-width: 768px) {
                margin-bottom: 50px;
              }

              button {
                width: 100%;
                color: $dusk;
                border: none;
                display: block;
                padding: 7px 0;
                font-size: 16px;
                font-weight: 600;
                margin: 5px auto;
                max-width: 178px;
                text-align: center;
                border-radius: 16.5px;
                background: rgba(65, 211, 189, 0.25);
              }

              p {
                margin: 0;
                color: $dusk;
                padding: 26px 0;
                font-size: 16px;
                line-height: 1.81;
                text-align: center;
              }

              &.step-1 {
                button {
                  color: #fff;
                  background: #a06eff;
                }
              }

              &.step-4 {
                button {
                  background: $light-tan;
                }
              }
            }
          }

          .apply-button {
            margin-top: 100px;
            padding: 15px 117px;
            margin-bottom: 15px;
            display: inline-block;

            @media screen and (max-width: 575px) {
              width: 90%;
              margin-top: 25px;
              padding: 15px 5px;
            }
          }

          .copy-after-button {
            font-size: 14px;
            line-height: 2.07;
            margin-bottom: 76px;
          }
        }

        #faq {
          text-align: center;
          background: $white;
          position: relative;

          .title {
            color: #fff;
            font-size: 36px;
            font-weight: bold;
            text-align: center;
            padding-left: 170px;
            padding-right: 170px;
            margin: 100px 0 20px;
            background: url(https://www.microverse.org/img/brush-stroke-banner-1-onlygfx-dot-com_5.svg) top left/100% 100% no-repeat;

            @media screen and (max-width: 575px) {
              width: 90%;
              padding-left: 15px;
              padding-right: 15px;
            }
          }

          >p {
            font-size: 20px;
            margin: 0 0 50px;
            color: #636c98;
            line-height: 1.65;
            text-align: center;
          }

          .item {
            text-align: left;

            @media screen and (max-width: 768px) {
              text-align: center;
            }

            h3 {
              color: $dusk;
              font-size: 18px;
              font-weight: 600;
              line-height: 1.83;
              margin-bottom: 10px;
              font-family: "Avenir Next", "Nunito", sans-serif;
            }

            p {
              font-size: 16px;
              color: #636c98;
              line-height: 2.06;

              a {
                color: $tealish;
                text-decoration: none;
              }
            }
          }

          .yellow-button {
            width: 333px;
            font-size: 18px;

            &:first-of-type {
              margin-top: 130px;
              margin-bottom: 20px;

              @media screen and (max-width: 575px) {
                margin-top: 25px;
              }
            }

            &:last-of-type {
              margin-bottom: 150px;
            }

            @media screen and (max-width: 575px) {
              width: 90%;
            }
          }

          >img {
            position: absolute;
          }

          #half-loop-1 {
            left: 0;
            top: 227px;
            height: auto;
            z-index: 101;
            max-height: 100%;
            max-width: 24.2vw;
          }

          #half-loop-2 {
            right: 0;
            top: 732px;
            height: auto;
            z-index: 101;
            max-height: 100%;
            max-width: 20.7vw;
          }
        }

        footer {
          color: #fff;
          padding: 50px 0;
          background: $dusk;
          position: relative;

          @media screen and (max-width: 768px) {
            text-align: center;
            align-items: center;
            justify-content: center;
          }

          h3 {
            font-size: 22px;
            margin: 13px 0 40px;
            font-family: Domine;
          }

          .logo {
            color: #fff;
            margin-top: 0;
            font-size: 30px;
            font-weight: bold;
            font-family: "Maven Pro";
          }

          .copy {
            margin-bottom: 40px;
          }

          >div:first-of-type {

            @media screen and (max-width: 768px) {
              order: 3;
            }

            a {
              margin-right: 20px;
              text-decoration: none;

              >img {
                width: 24px;
              }
            }
          }

          .list {
            padding: 0;
            list-style: none;

            a {
              font-size: 16px;
              color: #d2fff8;
              font-weight: 600;
              line-height: 2.19;
              text-decoration: none;
            }
          }

          >img {
            opacity: 0.4;
            position: absolute;
          }

          #square-thingy-10 {
            top: 38px;
            left: 20.9vw;
            z-index: 100;
          }

          #square-thingy-11 {
            right: 7vw;
            z-index: 100;
            bottom: 68.2px;
          }
        }

        .yellow-button {
          padding: 15px;
          color: #3e3e3e;
          font-weight: 600;
          text-align: center;
          border-radius: 4px;
          background: #ffd540;
          text-decoration: none;
          text-transform: uppercase;
          box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.19);
          text-shadow: 0 1px 1px rgba(255, 255, 255, 0.57);
        }