@import url("https://fonts.googleapis.com/css?family=Domine|Montserrat");
body {
  font-family: Montserrat; }

#global-community {
  background: #fff;
  transform: skewY(-9deg); }
  #global-community > * {
    transform: skewY(9deg); }
  #global-community > .title {
    color: #3e396b;
    text-align: center;
    background: url(https://www.microverse.org/img/brush-stroke-banner-1-onlygfx-dot-com.svg) top left/100% 100% no-repeat; }
  #global-community > .map {
    margin: 50px 0; }
    #global-community > .map > img {
      width: 100%; }
  #global-community #testimonials {
    margin-bottom: 50px; }
    #global-community #testimonials > .card {
      font-size: 14px;
      max-width: 316px;
      position: relative;
      background: #f9fafd;
      padding: 26px 28px 15px 70px;
      box-shadow: 0 30px 30px -15px #eee; }
      #global-community #testimonials > .card > .picture {
        top: 15px;
        left: -25px;
        position: absolute;
        background-repeat: no-repeat; }
        #global-community #testimonials > .card > .picture > img {
          transform: translate(-10px, 10px); }
      #global-community #testimonials > .card:nth-of-type(1) > .picture {
        background-image: url(https://www.microverse.org/img/oval-3.svg); }
      #global-community #testimonials > .card:nth-of-type(2) {
        margin: 0 60px; }
        #global-community #testimonials > .card:nth-of-type(2) > .picture {
          background-size: 100% 100%;
          background-image: url(https://www.microverse.org/img/rectangle-8.svg); }
          #global-community #testimonials > .card:nth-of-type(2) > .picture > img {
            transform: translate(-20px, 7px); }
      #global-community #testimonials > .card:nth-of-type(3) > .picture {
        background-image: url(https://www.microverse.org/img/triangle-3.svg); }
      #global-community #testimonials > .card > p:first-of-type {
        font-style: italic; }
      #global-community #testimonials > .card > p:nth-of-type(2) {
        color: #3e396b;
        margin-bottom: 0;
        font-weight: 900; }
      #global-community #testimonials > .card > p:nth-of-type(3) {
        color: #adadad;
        margin-top: 0; }
      #global-community #testimonials > .card > .quotation-mark {
        float: left;
        height: 50px;
        color: #e7e7e7;
        margin: -35px 0 0 -35px;
        font: normal 70px "Lucida Grande", "Lucida Sans Unicode", sans-serif; }
  #global-community > p {
    font-size: 20px;
    color: #636c98;
    line-height: 1.65;
    text-align: center; }
  #global-community #community-testimonials {
    overflow: hidden;
    margin-top: 100px;
    position: relative;
    transform: skewY(0deg); }
    #global-community #community-testimonials > .content {
      overflow: visible; }
      #global-community #community-testimonials > .content > div {
        position: relative;
        transform: skewY(0deg); }
        #global-community #community-testimonials > .content > div:nth-of-type(odd) {
          padding-right: 10%; }
          #global-community #community-testimonials > .content > div:nth-of-type(odd)::after {
            right: 0; }
        #global-community #community-testimonials > .content > div:nth-of-type(even) {
          padding-left: 10%; }
          #global-community #community-testimonials > .content > div:nth-of-type(even)::after {
            left: 0; }
        #global-community #community-testimonials > .content > div:nth-of-type(1)::after, #global-community #community-testimonials > .content > div:nth-of-type(4)::after {
          top: 0;
          content: "";
          width: 150%;
          height: 100%;
          z-index: -1;
          position: absolute;
          transform: skewY(0deg);
          background: #f8faff; }
        #global-community #community-testimonials > .content > div > * {
          transform: skewY(9deg);
          transform-origin: top left; }
        #global-community #community-testimonials > .content > div > h3 {
          color: #3e396b;
          font-size: 28px;
          margin-top: 80px;
          font-family: Domine;
          margin-bottom: 18px; }
        #global-community #community-testimonials > .content > div > p {
          font-size: 17px;
          color: #636c98;
          line-height: 1.94;
          margin: 0 0 20px 0; }
        #global-community #community-testimonials > .content > div > a {
          color: #3e3e3e;
          font-weight: 600;
          padding: 15px 40px;
          border-radius: 4px;
          margin-bottom: 140px;
          background: #ffd540;
          display: inline-block;
          text-decoration: none;
          text-transform: uppercase;
          box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.19);
          text-shadow: 0 1px 1px rgba(255, 255, 255, 0.57); }
      #global-community #community-testimonials > .content > .picture {
        display: grid;
        padding-top: 100px;
        align-items: center;
        padding-bottom: 100px;
        justify-items: center;
        transform: skewY(9deg);
        grid-template-columns: repeat(auto-fill, minmax(45%, 1fr)); }
        #global-community #community-testimonials > .content > .picture > img {
          max-width: 90%;
          transform: skewY(0deg); }

h2.title {
  margin: 10px 0;
  font-size: 2.5em;
  padding: 17px 100px;
  font-family: Domine; }

#founder-story {
  overflow: visible;
  margin-bottom: 170px;
  transform: skewY(-9deg);
  background: #f7f5ee; }
  #founder-story > .content {
    background: #f7f5ee;
    transform: skewY(9deg);
    transform-origin: top left; }
    #founder-story > .content > div:last-of-type {
      text-align: right;
      padding: 0 0 40px 40px; }
      #founder-story > .content > div:last-of-type > .title {
        color: #fff;
        font-size: 36px;
        padding-left: 55px;
        padding-right: 62px;
        margin-bottom: 30px;
        display: inline-block;
        background: url(https://www.microverse.org/img/brush-stroke-banner-1-onlygfx-dot-com_5.svg) top left/100% 100% no-repeat; }
      #founder-story > .content > div:last-of-type > p {
        font-size: 20px;
        line-height: 1.65;
        color: #3e396b; }

#tuition {
  text-align: center;
  position: relative; }
  #tuition::after {
    top: 0;
    bottom: 0;
    width: 100%;
    content: "";
    z-index: -1;
    margin: auto;
    height: 500px;
    display: block;
    position: absolute;
    transform: skewY(-9deg);
    background: #f8faff; }
  #tuition .title {
    color: #fff;
    font-size: 36px;
    margin-bottom: 30px;
    padding-left: 150px;
    padding-right: 150px;
    background: url(https://www.microverse.org/img/path-5185_2.svg) top left/100% 100% no-repeat; }
  #tuition > p {
    font-size: 20px;
    line-height: 1.65;
    color: #636c98; }
  #tuition > .white-card {
    text-align: center;
    border-radius: 8px;
    padding: 38px 70px 45px;
    background-color: #fff;
    box-shadow: 0 6px 12px 0 rgba(35, 18, 68, 0.18); }
    #tuition > .white-card .big-number {
      color: #3e396b;
      font-size: 60px;
      font-weight: bold; }
    #tuition > .white-card .big-number-cont {
      color: #3e396b;
      font-size: 22px;
      font-weight: 900;
      margin: 6px 0 19px; }
    #tuition > .white-card .white-card-copy {
      font-size: 17px;
      color: #636c98;
      font-weight: 400;
      line-height: 1.94; }
  #tuition .tuition-pathway-1 {
    position: relative; }
    #tuition .tuition-pathway-1 p {
      font-size: 22px;
      color: #636c98;
      line-height: 1.94;
      text-align: left;
      white-space: nowrap; }
      #tuition .tuition-pathway-1 p#step-1, #tuition .tuition-pathway-1 p#step-2 {
        position: absolute; }
      #tuition .tuition-pathway-1 p#step-1 {
        top: 45px;
        left: calc(100% + 30px); }
      #tuition .tuition-pathway-1 p#step-2 {
        bottom: 25px;
        right: calc(100% + 30px); }
  #tuition .tuition-pathway-2 > #step-3 {
    font-size: 22px;
    color: #636c98;
    line-height: 1.94;
    max-width: 360px; }
  #tuition svg line {
    fill: none;
    stroke: #3e396b;
    stroke-width: 3px;
    stroke-dasharray: 22px 8px; }
  #tuition svg circle {
    fill: #3e396b; }

#application-process {
  text-align: center;
  background: #f8faff; }
  #application-process .title {
    color: #3e396b;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 115px 0 20px;
    background: url(https://www.microverse.org/img/brush-stroke-banner-1-onlygfx-dot-com_4.svg) top left/100% 100% no-repeat; }
  #application-process > p {
    font-size: 20px;
    margin: 0 0 50px;
    color: #636c98;
    line-height: 1.65;
    text-align: center; }
  #application-process .table {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(4, min-content);
    grid-gap: 11px 12px;
    text-align: center;
    border-radius: 8px;
    align-items: stretch;
    position: relative;
    justify-content: center; }
    #application-process .table .header {
      margin: 0;
      width: 222px;
      color: #fff;
      font-size: 18px;
      font-weight: 600;
      position: relative;
      text-align: center;
      border-radius: 8px;
      white-space: normal;
      word-wrap: break-word;
      overflow-wrap: break-word;
      padding: 18px 24px 18px 30px;
      background-color: #6f23ff; }
      #application-process .table .header:not(:first-of-type)::before {
        top: 0;
        height: 0;
        bottom: 0;
        left: -4px;
        content: "";
        margin: auto;
        z-index: 100;
        display: block;
        position: absolute;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 14px solid #fff; }
      #application-process .table .header:not(:last-of-type)::after {
        top: 0;
        height: 0;
        bottom: 0;
        left: 100%;
        content: "";
        margin: auto;
        z-index: 101;
        display: block;
        position: absolute;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 14px solid #6f23ff; }
      #application-process .table .header svg {
        top: -15px;
        left: -8px;
        position: absolute;
        filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2)); }
        #application-process .table .header svg circle {
          fill: #41d3bd; }
        #application-process .table .header svg text {
          fill: #fff;
          font: bold 20px inherit; }
    #application-process .table > .content {
      padding: 11px 27px;
      border-radius: 8px;
      background-color: #ede4ff; }
      #application-process .table > .content button {
        width: 100%;
        color: #3e396b;
        border: none;
        display: block;
        padding: 7px 0;
        font-size: 16px;
        font-weight: 600;
        margin: 5px auto;
        max-width: 178px;
        text-align: center;
        border-radius: 16.5px;
        background: rgba(65, 211, 189, 0.25); }
      #application-process .table > .content p {
        margin: 0;
        color: #3e396b;
        padding: 26px 0;
        font-size: 16px;
        line-height: 1.81;
        text-align: center; }
      #application-process .table > .content.step-1 button {
        color: #fff;
        background: #a06eff; }
      #application-process .table > .content.step-4 button {
        background: #f9f1ae; }
  #application-process .apply-button {
    color: #3e3e3e;
    font-weight: 600;
    margin-top: 100px;
    border-radius: 4px;
    padding: 15px 117px;
    margin-bottom: 15px;
    background: #ffd540;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.19);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.57); }
  #application-process .copy-after-button {
    font-size: 14px;
    line-height: 2.07;
    margin-bottom: 76px; }

#faq {
  text-align: center;
  background: #fff; }
  #faq .title {
    background: url(https://www.microverse.org/img/brush-stroke-banner-1-onlygfx-dot-com_5.svg) top left/100% 100% no-repeat; }

footer {
  color: #fff;
  position: relative;
  background: #3e396b; }
  footer > div:first-of-type img {
    width: 24px; }
  footer ul {
    padding: 0;
    list-style: none; }
  footer > img {
    position: absolute; }

/*# sourceMappingURL=main.fabien.css.map */
