        /********************************************/
        /*             Louis styles                */
        /********************************************/
        
        @import 'mixins';
        @import 'colors';
        @import 'type';
        /***** body *****/
        
        body {
            @include default-styling;
        }
        
        .yellow-buttons {
            @include yellow-buttons;
        }
        /***** upper container *****/
        
        div[id="upper-container"] {
            background: url("../images/computer_girl.png") 130% 0 no-repeat;
            background-color: $microverse_pink;
            padding-left: 6%;
            //height: 500px;
            @media screen and (max-width: 762px) {
                background: url("../images/computer_girl.png") 100% 0 no-repeat;
                background-color: $microverse_pink;
                padding-left: 6%;
            }
        }
        
        @import 'nav_links_styles';
        .upper-post-it {
            text-align: center;
            //border: 1px solid white;
        }
        /**** global school *****/
        
        .global-school {
            //border: 1px solid white;
            h1 {
                font-family: Domine;
                font-size: 48px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.27;
                letter-spacing: normal;
                color: #ffffff;
            }
            #copy-header {
                font-size: 20px;
                line-height: 1.65;
                color: #ffffff;
                margin-right: 30px;
                margin-top: 15px;
            }
            .applynow {
                text-align: center;
                font-weight: 600;
                letter-spacing: 0.034em;
                @media screen and (max-width: 762px) {
                    display: inline-block;
                    width: 89%;
                    margin: 0 auto;
                    font-size: 1.2em;
                }
            }
        }
        /** lower postit ****/
        
        .lower-postit {
            //border: 1px solid seagreen;
            //height: 100px;
            --oPadding: calc(0.16 * 100vw);
        }
        
        .lower-pink {
            //background-image: -webkit-linear-gradient(280deg, $microverse_pink 50%, $microverse_white 51%);
            .lower-arrow {
                //border: 1px solid seagreen;
                text-align: center;
                color: white;
                vertical-align: middle;
                padding-top: 10.25em;
                @media screen and (max-width: 992px) {
                    margin-top: 6.25em;
                    text-align: center;
                    color: white;
                    vertical-align: middle;
                    padding-top: 6.25em;
                }
            }
        }
        
        .lower-pink2 {
            background-image: -webkit-linear-gradient(280deg, $microverse_pink 50%, $microverse_white 51%);
            height: 200px;
            //border: 1px solid black;
            margin-top: -80px;
            margin-left: -5%;
            @media screen and (max-width: 992px) {
                background-image: -webkit-linear-gradient(280deg, $microverse_pink 50%, $microverse_white 51%);
                height: 200px;
                //border: 1px solid black;
                margin-top: -20px;
                margin-left: -6%;
            }
        }
        /*--first yellow graphity yellow-->*/
        
        #first-white-block {
            background-color: $microverse_white;
            padding-top: 1em;
            .center-heading {
                //border: 1px solid black;
                margin: auto;
                text-align: center;
                #life-changing-experience-title {
                    background: url('../images/graphity_yellow.svg') no-repeat;
                    //background-size: 100% 100%;
                    resize: both;
                    background-position: center;
                    padding: 23px 18px 15px;
                    //margin: 46px 0 24px;
                    overflow: visible;
                    @include h2-header;
                    margin-bottom: 3%;
                }
            }
            .center-heading-undertxt {
                @include under-heading-txt;
            }
        }
        /*<!--______3 cubes section______-->*/
        
        .cubes {
            //border: 1px solid red;
            padding-bottom: 3em;
            margin-top: 3%;
            .cube-1 {
                @include cube-design;
            }
            .cube-2 {
                @include cube-design;
            }
            .cube-3 {
                @include cube-design;
            }
        }
        /*<!--___________STUDENT LIFE________-->*/
        
        div[id="student-life"] {
            padding-bottom: 5%;
            .heading {
                //border: 1px solid black;
                text-align: center;
                margin: auto;
                #student-life-title {
                    background: url('../images/grafity-green.svg') no-repeat;
                    background-size: 100% 100%;
                    resize: both;
                    background-position: center;
                    padding: 21px 8px;
                    margin: 87px 0 15px;
                    overflow: visible;
                    @include h2-header;
                    color: #f9f9f9;
                }
            }
            .under-heading-txt {
                @include under-heading-txt;
            }
            /*<!--Your Coding Partner-->*/
            .coding-partner {
                margin-top: 3%;
                //border: 1px solid black;
                .left {
                    //border: 1px solid black;
                    padding-left: 6%;
                    padding-right: 6%;
                    @media screen and (max-width: 768px) {
                        margin: auto;
                    }
                    h3 {
                        margin-top: 25px;
                        margin-bottom: 19px;
                        @include h3-header;
                    }
                    p {
                        @include paragraph-design;
                    }
                    .faq-article-link {
                        @include faq-article-link;
                    }
                    #square-thingy-3 {
                        @include square-thingy-3;
                    }
                }
                .right {
                    //border: 1px solid black;
                    padding-right: 2%;
                    padding-left: 2%;
                    @media screen and (max-width: 768px) {
                        margin: auto;
                        padding-left: 5%;
                    }
                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
                .xright {
                    img {
                        width: 100%;
                    }
                }
            }
            /**<!--Your dedicated mentor-->*/
            .dedicated-mentor {
                //margin-top: 3%;
                //border: 1px solid black;
                .xleft {
                    //border: 1px solid black;
                    img {
                        width: 100%;
                    }
                }
                .left {
                    //border: 1px solid black;
                    padding-top: 14em;
                    padding-right: 6%;
                    @media screen and (max-width: 768px) {
                        margin: auto;
                        padding-top: 3%;
                    }
                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
                .right {
                    padding-top: 14em;
                    //border: 1px solid black;
                    padding-right: 2%;
                    padding-left: 2%;
                    @media screen and (max-width: 768px) {
                        margin: auto;
                        padding-left: 5%;
                        padding-top: 3%;
                    }
                    h3 {
                        margin-top: 25px;
                        margin-bottom: 19px;
                        @include h3-header;
                    }
                    p {
                        @include paragraph-design;
                    }
                    .faq-article-link {
                        @include faq-article-link;
                    }
                    #square-thingy-3 {
                        @include square-thingy-3;
                    }
                }
                .xright {
                    //margin: 1px solid red;
                    img {
                        width: 100%;
                    }
                }
            }
            /**<!--Your daily schedule-->*/
            .daily-schedule {
                //border: 1px solid red;
                padding-top: 8%;
                .left {
                    //border: 1px solid green;
                    padding-left: 6%;
                    text-align: center;
                    @media screen and (max-width: 768px) {
                        margin: auto;
                        padding-top: 3%;
                    }
                    #square-thingy-3 {
                        @include square-thingy-3;
                    }
                    h3 {
                        margin-top: 25px;
                        margin-bottom: 19px;
                        @include h3-header;
                    }
                    p {
                        @include paragraph-design;
                        .inner-green-link {
                            color: $teal;
                            text-decoration: none;
                        }
                    }
                    .faq-article-link {
                        @include faq-article-link;
                    }
                }
                .right {
                    padding-left: 3%;
                    text-align: center;
                    @media screen and (max-width: 768px) {
                        margin: auto;
                        padding-left: 5%;
                        padding-top: 3%;
                    }
                    img {
                        max-width: 100%;
                    }
                }
            }
        }
        
        .upper-worldclass-slope {
            background-image: -webkit-linear-gradient(280deg, white 50%, $microver-light-pink 51%);
            height: 200px;
            //margin-top: -80px;
            margin-left: -5%;
        }
        /*<!--_______SLIGHT PINK BLOCK_______-->*/
        
        div[id="slight-pink"] {
            background-color: $microver-light-pink;
            text-align: center;
            .left {
                padding-left: 6%;
                padding-right: 4%;
                @media screen and (max-width: 768px) {
                    margin: auto;
                    padding-top: 3%;
                }
                #world-class-curriculum-title {
                    background: url('https://www.microverse.org/img/brush-stroke-banner-1-onlygfx-dot-com_3.svg') no-repeat;
                    background-size: 100% 100%;
                    resize: both;
                    background-position: left;
                    padding: 22px 52px 16px;
                    //margin: 16px -22px 25px;
                    //float: left;
                    text-align: left;
                    width: 89%;
                    @include h2-header;
                }
                p {
                    text-align: center;
                    margin: auto;
                    font-family: Montserrat;
                    font-size: 20px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.65;
                    letter-spacing: normal;
                    text-align: center;
                    color: #636c98;
                }
            }
            .right {
                @media screen and (max-width: 768px) {
                    margin: auto;
                    padding-top: 3%;
                }
                img {
                    max-width: 85%;
                }
            }
            /*<!--progamming language logos-->*/
            .programming-logos {
                padding-top: 5%;
                padding-bottom: 7%;
                img {
                    display: inline-block;
                    //border: 1px solid black;
                    margin: 2% 2%;
                }
                hr {
                    width: 800%;
                    height: 2px;
                    border: 1px;
                    color: #e9e9e9;
                    background-color: #e9e9e9;
                    border-color: #e9e9e9;
                }
            }
            /*<!--_______SYLABUS block_______-->*/
            .syllabus {
                padding-bottom: 7em;
                #get-syllabus-title {
                    font-size: 20px;
                    margin-bottom: 0;
                    font-family: Montserrat;
                    font-weight: 800;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.94;
                    letter-spacing: normal;
                    color: $gray-dark;
                }
                #get-syllabus-email {
                    width: 35%;
                    height: 52px;
                    padding: 0 24px;
                    font-family: Montserrat;
                    font-size: 20px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.65;
                    letter-spacing: normal;
                    color: $gray-dark;
                    text-overflow: ellipsis;
                    border-radius: 4px;
                    box-shadow: 0 2px 6px 0 rgba(186, 186, 186, 0.5);
                    //background-color: #ffffff;
                    margin: 34px auto 15px auto;
                    border-color: transparent;
                }
                #syllabus-checkmark-label {
                    font-size: 14px;
                    color: $gray-dark;
                    font-family: Montserrat;
                    font-weight: 600;
                }
                #yellow-button-get-syllabus {
                    @include yellow-buttons;
                    font-weight: 600;
                    font-size: 1.3em;
                }
            }
        }
        
        @import 'strips';