/********************************************/
/*             Louis styles                */
/********************************************/
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit; }

/***** body *****/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff; }

.yellow-buttons {
  background-color: #FFCE32;
  color: #2F2F30;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 50px;
  padding-left: 50px;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }

/***** upper container *****/
div[id="upper-container"] {
  background: url("../images/computer_girl.png") 130% 0 no-repeat;
  background-color: #5B00FF;
  padding-left: 6%; }
  @media screen and (max-width: 762px) {
    div[id="upper-container"] {
      background: url("../images/computer_girl.png") 100% 0 no-repeat;
      background-color: #5B00FF;
      padding-left: 6%; } }

/********* menu *********/
.menu {
  padding-top: 3%;
  font-weight: 600; }
  .menu .logo {
    padding-left: 6%; }
    .menu .logo .navbar-logo {
      font-family: "Maven Pro";
      font-size: 34px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
      text-align: left; }
  .menu .nav-links {
    text-align: right;
    padding-right: 8%; }
    .menu .nav-links ul {
      margin: 0;
      padding: 0;
      list-style: none; }
    .menu .nav-links li {
      display: inline-block;
      color: #ffffff; }
    .menu .nav-links a {
      display: block;
      padding: 6px 12px;
      text-decoration: none;
      color: white; }
    .menu .nav-links .last-menu {
      background-color: #FFCE32;
      color: #2F2F30;
      padding-bottom: 11px;
      padding-top: 10px;
      padding-right: 25px;
      padding-left: 25px;
      margin-top: 0;
      margin-right: 0;
      margin-left: 20px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px; }
  .menu .mybars {
    display: none;
    color: white; }
    @media screen and (max-width: 990px) {
      .menu .mybars {
        display: inline-block;
        color: white;
        text-align: right;
        height: 30px;
        position: relative;
        transform: rotate(0deg);
        transition: 0.5s ease-in-out;
        transform: rotate(0deg);
        z-index: 105;
        padding-right: 8%; } }

.upper-post-it {
  text-align: center; }

/**** global school *****/
.global-school h1 {
  font-family: Domine;
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  color: #ffffff; }
.global-school #copy-header {
  font-size: 20px;
  line-height: 1.65;
  color: #ffffff;
  margin-right: 30px;
  margin-top: 15px; }
.global-school .applynow {
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.034em; }
  @media screen and (max-width: 762px) {
    .global-school .applynow {
      display: inline-block;
      width: 89%;
      margin: 0 auto;
      font-size: 1.2em; } }

/** lower postit ****/
.lower-postit {
  --oPadding: calc(0.16 * 100vw); }

.lower-pink .lower-arrow {
  text-align: center;
  color: white;
  vertical-align: middle;
  padding-top: 10.25em; }
  @media screen and (max-width: 992px) {
    .lower-pink .lower-arrow {
      margin-top: 6.25em;
      text-align: center;
      color: white;
      vertical-align: middle;
      padding-top: 6.25em; } }

.lower-pink2 {
  background-image: -webkit-linear-gradient(280deg, #5B00FF 50%, #F8F9FF 51%);
  height: 200px;
  margin-top: -80px;
  margin-left: -5%; }
  @media screen and (max-width: 992px) {
    .lower-pink2 {
      background-image: -webkit-linear-gradient(280deg, #5B00FF 50%, #F8F9FF 51%);
      height: 200px;
      margin-top: -20px;
      margin-left: -6%; } }

/*--first yellow graphity yellow-->*/
#first-white-block {
  background-color: #F8F9FF;
  padding-top: 1em; }
  #first-white-block .center-heading {
    margin: auto;
    text-align: center; }
    #first-white-block .center-heading #life-changing-experience-title {
      background: url("../images/graphity_yellow.svg") no-repeat;
      resize: both;
      background-position: center;
      padding: 23px 18px 15px;
      overflow: visible;
      font-family: Domine;
      font-size: 36px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: var(--dusk);
      margin-bottom: 3%; }
  #first-white-block .center-heading-undertxt {
    text-align: center;
    margin: auto;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.65;
    letter-spacing: normal;
    text-align: center;
    color: #636c98; }

/*<!--______3 cubes section______-->*/
.cubes {
  padding-bottom: 3em;
  margin-top: 3%; }
  .cubes .cube-1 {
    margin-left: 6%;
    padding: 1%;
    text-align: center;
    line-height: 1.41;
    color: #636c98;
    padding: 0 25px; }
    .cubes .cube-1 a {
      text-decoration: none;
      color: #47CDAF; }
    .cubes .cube-1 img {
      width: 100%; }
    .cubes .cube-1 p {
      font-family: Montserrat;
      font-size: 17px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal; }
  .cubes .cube-2 {
    margin-left: 6%;
    padding: 1%;
    text-align: center;
    line-height: 1.41;
    color: #636c98;
    padding: 0 25px; }
    .cubes .cube-2 a {
      text-decoration: none;
      color: #47CDAF; }
    .cubes .cube-2 img {
      width: 100%; }
    .cubes .cube-2 p {
      font-family: Montserrat;
      font-size: 17px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal; }
  .cubes .cube-3 {
    margin-left: 6%;
    padding: 1%;
    text-align: center;
    line-height: 1.41;
    color: #636c98;
    padding: 0 25px; }
    .cubes .cube-3 a {
      text-decoration: none;
      color: #47CDAF; }
    .cubes .cube-3 img {
      width: 100%; }
    .cubes .cube-3 p {
      font-family: Montserrat;
      font-size: 17px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal; }

/*<!--___________STUDENT LIFE________-->*/
div[id="student-life"] {
  padding-bottom: 5%;
  /*<!--Your Coding Partner-->*/
  /**<!--Your dedicated mentor-->*/
  /**<!--Your daily schedule-->*/ }
  div[id="student-life"] .heading {
    text-align: center;
    margin: auto; }
    div[id="student-life"] .heading #student-life-title {
      background: url("../images/grafity-green.svg") no-repeat;
      background-size: 100% 100%;
      resize: both;
      background-position: center;
      padding: 21px 8px;
      margin: 87px 0 15px;
      overflow: visible;
      font-family: Domine;
      font-size: 36px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: var(--dusk);
      color: #f9f9f9; }
  div[id="student-life"] .under-heading-txt {
    text-align: center;
    margin: auto;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.65;
    letter-spacing: normal;
    text-align: center;
    color: #636c98; }
  div[id="student-life"] .coding-partner {
    margin-top: 3%; }
    div[id="student-life"] .coding-partner .left {
      padding-left: 6%;
      padding-right: 6%; }
      @media screen and (max-width: 768px) {
        div[id="student-life"] .coding-partner .left {
          margin: auto; } }
      div[id="student-life"] .coding-partner .left h3 {
        margin-top: 25px;
        margin-bottom: 19px;
        font-family: Domine;
        font-size: 28px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: var(--dusk); }
      div[id="student-life"] .coding-partner .left p {
        font-family: Montserrat;
        font-size: 17px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.94;
        letter-spacing: normal;
        color: #636c98; }
      div[id="student-life"] .coding-partner .left .faq-article-link {
        font-family: Montserrat;
        text-decoration: none;
        font-size: 16px;
        font-weight: 800;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.19;
        letter-spacing: normal;
        color: #5B00FF;
        display: block; }
      div[id="student-life"] .coding-partner .left #square-thingy-3 {
        /*** small post-it image on headings***/
        margin: -16px -40px -49px -34px;
        z-index: -1;
        display: inline-block; }
    div[id="student-life"] .coding-partner .right {
      padding-right: 2%;
      padding-left: 2%; }
      @media screen and (max-width: 768px) {
        div[id="student-life"] .coding-partner .right {
          margin: auto;
          padding-left: 5%; } }
      div[id="student-life"] .coding-partner .right img {
        max-width: 100%;
        height: auto; }
    div[id="student-life"] .coding-partner .xright img {
      width: 100%; }
  div[id="student-life"] .dedicated-mentor .xleft img {
    width: 100%; }
  div[id="student-life"] .dedicated-mentor .left {
    padding-top: 14em;
    padding-right: 6%; }
    @media screen and (max-width: 768px) {
      div[id="student-life"] .dedicated-mentor .left {
        margin: auto;
        padding-top: 3%; } }
    div[id="student-life"] .dedicated-mentor .left img {
      max-width: 100%;
      height: auto; }
  div[id="student-life"] .dedicated-mentor .right {
    padding-top: 14em;
    padding-right: 2%;
    padding-left: 2%; }
    @media screen and (max-width: 768px) {
      div[id="student-life"] .dedicated-mentor .right {
        margin: auto;
        padding-left: 5%;
        padding-top: 3%; } }
    div[id="student-life"] .dedicated-mentor .right h3 {
      margin-top: 25px;
      margin-bottom: 19px;
      font-family: Domine;
      font-size: 28px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: var(--dusk); }
    div[id="student-life"] .dedicated-mentor .right p {
      font-family: Montserrat;
      font-size: 17px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.94;
      letter-spacing: normal;
      color: #636c98; }
    div[id="student-life"] .dedicated-mentor .right .faq-article-link {
      font-family: Montserrat;
      text-decoration: none;
      font-size: 16px;
      font-weight: 800;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.19;
      letter-spacing: normal;
      color: #5B00FF;
      display: block; }
    div[id="student-life"] .dedicated-mentor .right #square-thingy-3 {
      /*** small post-it image on headings***/
      margin: -16px -40px -49px -34px;
      z-index: -1;
      display: inline-block; }
  div[id="student-life"] .dedicated-mentor .xright img {
    width: 100%; }
  div[id="student-life"] .daily-schedule {
    padding-top: 8%; }
    div[id="student-life"] .daily-schedule .left {
      padding-left: 6%;
      text-align: center; }
      @media screen and (max-width: 768px) {
        div[id="student-life"] .daily-schedule .left {
          margin: auto;
          padding-top: 3%; } }
      div[id="student-life"] .daily-schedule .left #square-thingy-3 {
        /*** small post-it image on headings***/
        margin: -16px -40px -49px -34px;
        z-index: -1;
        display: inline-block; }
      div[id="student-life"] .daily-schedule .left h3 {
        margin-top: 25px;
        margin-bottom: 19px;
        font-family: Domine;
        font-size: 28px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: var(--dusk); }
      div[id="student-life"] .daily-schedule .left p {
        font-family: Montserrat;
        font-size: 17px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.94;
        letter-spacing: normal;
        color: #636c98; }
        div[id="student-life"] .daily-schedule .left p .inner-green-link {
          color: #20c997;
          text-decoration: none; }
      div[id="student-life"] .daily-schedule .left .faq-article-link {
        font-family: Montserrat;
        text-decoration: none;
        font-size: 16px;
        font-weight: 800;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.19;
        letter-spacing: normal;
        color: #5B00FF;
        display: block; }
    div[id="student-life"] .daily-schedule .right {
      padding-left: 3%;
      text-align: center; }
      @media screen and (max-width: 768px) {
        div[id="student-life"] .daily-schedule .right {
          margin: auto;
          padding-left: 5%;
          padding-top: 3%; } }
      div[id="student-life"] .daily-schedule .right img {
        max-width: 100%; }

.upper-worldclass-slope {
  background-image: -webkit-linear-gradient(280deg, white 50%, #F8F9FF 51%);
  height: 200px;
  margin-left: -5%; }

/*<!--_______SLIGHT PINK BLOCK_______-->*/
div[id="slight-pink"] {
  background-color: #F8F9FF;
  text-align: center;
  /*<!--progamming language logos-->*/
  /*<!--_______SYLABUS block_______-->*/ }
  div[id="slight-pink"] .left {
    padding-left: 6%;
    padding-right: 4%; }
    @media screen and (max-width: 768px) {
      div[id="slight-pink"] .left {
        margin: auto;
        padding-top: 3%; } }
    div[id="slight-pink"] .left #world-class-curriculum-title {
      background: url("https://www.microverse.org/img/brush-stroke-banner-1-onlygfx-dot-com_3.svg") no-repeat;
      background-size: 100% 100%;
      resize: both;
      background-position: left;
      padding: 22px 52px 16px;
      text-align: left;
      width: 89%;
      font-family: Domine;
      font-size: 36px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: var(--dusk); }
    div[id="slight-pink"] .left p {
      text-align: center;
      margin: auto;
      font-family: Montserrat;
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.65;
      letter-spacing: normal;
      text-align: center;
      color: #636c98; }
  @media screen and (max-width: 768px) {
    div[id="slight-pink"] .right {
      margin: auto;
      padding-top: 3%; } }
  div[id="slight-pink"] .right img {
    max-width: 85%; }
  div[id="slight-pink"] .programming-logos {
    padding-top: 5%;
    padding-bottom: 7%; }
    div[id="slight-pink"] .programming-logos img {
      display: inline-block;
      margin: 2% 2%; }
    div[id="slight-pink"] .programming-logos hr {
      width: 800%;
      height: 2px;
      border: 1px;
      color: #e9e9e9;
      background-color: #e9e9e9;
      border-color: #e9e9e9; }
  div[id="slight-pink"] .syllabus {
    padding-bottom: 7em; }
    div[id="slight-pink"] .syllabus #get-syllabus-title {
      font-size: 20px;
      margin-bottom: 0;
      font-family: Montserrat;
      font-weight: 800;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.94;
      letter-spacing: normal;
      color: #343a40; }
    div[id="slight-pink"] .syllabus #get-syllabus-email {
      width: 35%;
      height: 52px;
      padding: 0 24px;
      font-family: Montserrat;
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.65;
      letter-spacing: normal;
      color: #343a40;
      text-overflow: ellipsis;
      border-radius: 4px;
      box-shadow: 0 2px 6px 0 rgba(186, 186, 186, 0.5);
      margin: 34px auto 15px auto;
      border-color: transparent; }
    div[id="slight-pink"] .syllabus #syllabus-checkmark-label {
      font-size: 14px;
      color: #343a40;
      font-family: Montserrat;
      font-weight: 600; }
    div[id="slight-pink"] .syllabus #yellow-button-get-syllabus {
      background-color: #FFCE32;
      color: #2F2F30;
      padding-bottom: 15px;
      padding-top: 15px;
      padding-right: 50px;
      padding-left: 50px;
      margin-top: 0;
      margin-right: 0;
      margin-left: 0;
      text-decoration: none;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      font-weight: 600;
      font-size: 1.3em; }

/************ Microverse Rainbow strips **********/
.strips {
  transform: rotate(-3.9deg);
  margin-top: -2.4em;
  margin-left: 0.2%; }
  .strips .strip-row .color {
    height: 3em; }
  .strips .strip-row .myellow {
    background-color: rgba(247, 247, 205, 0.67); }
  .strips .strip-row .mgreen {
    background-color: rgba(65, 211, 189, 0.56); }
  .strips .strip-row .mpink {
    background-color: rgba(111, 35, 255, 0.35); }
  .strips .strip-row .mwhite {
    background-color: #fff; }
  .strips .strip-row .light-pink {
    background-color: #F8F9FF; }

/************ [end]Microverse Rainbow strips **********/

/*# sourceMappingURL=main.louis.css.map */
