* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.hbox,
.vbox {
  display: flex;

  >* {
    flex: auto;
  }

  >.ds-1 {
    width: 8.3333%;
    max-width: 8.3333%;
  }

  >.ds-2 {
    width: 16.6666%;
    max-width: 16.6666%;
  }

  >.ds-3 {
    width: 25%;
    max-width: 25%;
  }

  >.ds-4 {
    width: 33.3333%;
    max-width: 33.3333%;
  }

  >.ds-5 {
    width: 41.6666%;
    max-width: 41.6666%;
  }

  >.ds-6 {
    width: 50%;
    max-width: 50%;
  }

  >.ds-7 {
    width: 58.3333%;
    max-width: 58.3333%;
  }

  >.ds-8 {
    width: 66.6666%;
    max-width: 66.6666%;
  }

  >.ds-9 {
    width: 75%;
    max-width: 75%;
  }

  >.ds-10 {
    width: 83.3333%;
    max-width: 83.3333%;
  }

  >.ds-11 {
    width: 91.6666%;
    max-width: 91.6666%;
  }

  >.ds-12 {
    width: 100%;
    max-width: 100%;
  }

  // Left Spacing
  >.ds-lgap-1 {
    margin-left: 8.3333%;
  }

  >.ds-lgap-2 {
    margin-left: 16.6666%;
  }

  >.ds-lgap-3 {
    margin-left: 25%;
  }

  >.ds-lgap-4 {
    margin-left: 33.3333%;
  }

  >.ds-lgap-5 {
    margin-left: 41.6666%;
  }

  >.ds-lgap-6 {
    margin-left: 50%;
  }

  >.ds-lgap-7 {
    margin-left: 58.3333%;
  }

  >.ds-lgap-8 {
    margin-left: 66.6666%;
  }

  >.ds-lgap-9 {
    margin-left: 75%;
  }

  >.ds-lgap-10 {
    margin-left: 83.3333%;
  }

  >.ds-lgap-11 {
    margin-left: 91.6666%;
  }

  >.ds-lgap-12 {
    margin-left: 100%;
  }

  // Right Spacing
  >.ds-rgap-1 {
    margin-right: 8.3333%;
  }

  >.ds-rgap-2 {
    margin-right: 16.6666%;
  }

  >.ds-rgap-3 {
    margin-right: 25%;
  }

  >.ds-rgap-4 {
    margin-right: 33.3333%;
  }

  >.ds-rgap-5 {
    margin-right: 41.6666%;
  }

  >.ds-rgap-6 {
    margin-right: 50%;
  }

  >.ds-rgap-7 {
    margin-right: 58.3333%;
  }

  >.ds-rgap-8 {
    margin-right: 66.6666%;
  }

  >.ds-rgap-9 {
    margin-right: 75%;
  }

  >.ds-rgap-10 {
    margin-right: 83.3333%;
  }

  >.ds-rgap-11 {
    margin-right: 91.6666%;
  }

  >.ds-rgap-12 {
    margin-right: 100%;
  }
}

// HBOX,
.hbox {
  flex-flow: row wrap;
}

// VBOX
.vbox {
  flex-flow: column wrap;
}

// EXTRA SMALL SCREEN SIZE
@media screen and (max-width: 350px) {

  .hbox,
  .vbox {
    >.xs-1 {
      width: 8.3333%;
      max-width: 8.3333%;
    }

    >.xs-2 {
      width: 16.6666%;
      max-width: 16.6666%;
    }

    >.xs-3 {
      width: 25%;
      max-width: 25%;
    }

    >.xs-4 {
      width: 33.3333%;
      max-width: 33.3333%;
    }

    >.xs-5 {
      width: 41.6666%;
      max-width: 41.6666%;
    }

    >.xs-6 {
      width: 50%;
      max-width: 50%;
    }

    >.xs-7 {
      width: 58.3333%;
      max-width: 58.3333%;
    }

    >.xs-8 {
      width: 66.6666%;
      max-width: 66.6666%;
    }

    >.xs-9 {
      width: 75%;
      max-width: 75%;
    }

    >.xs-10 {
      width: 83.3333%;
      max-width: 83.3333%;
    }

    >.xs-11 {
      width: 91.6666%;
      max-width: 91.6666%;
    }

    >.xs-12 {
      width: 100%;
      max-width: 100%;
    }

    >.xs-none {
      display: none;
    }

    >.xs-flex {
      display: flex;
    }

    // Left Spacing
    >.xs-lgap-1 {
      margin-left: 8.3333%;
    }

    >.xs-lgap-2 {
      margin-left: 16.6666%;
    }

    >.xs-lgap-3 {
      margin-left: 25%;
    }

    >.xs-lgap-4 {
      margin-left: 33.3333%;
    }

    >.xs-lgap-5 {
      margin-left: 41.6666%;
    }

    >.xs-lgap-6 {
      margin-left: 50%;
    }

    >.xs-lgap-7 {
      margin-left: 58.3333%;
    }

    >.xs-lgap-8 {
      margin-left: 66.6666%;
    }

    >.xs-lgap-9 {
      margin-left: 75%;
    }

    >.xs-lgap-10 {
      margin-left: 83.3333%;
    }

    >.xs-lgap-11 {
      margin-left: 91.6666%;
    }

    >.xs-lgap-12 {
      margin-left: 100%;
    }

    // Right Spacing
    >.xs-rgap-1 {
      margin-right: 8.3333%;
    }

    >.xs-rgap-2 {
      margin-right: 16.6666%;
    }

    >.xs-rgap-3 {
      margin-right: 25%;
    }

    >.xs-rgap-4 {
      margin-right: 33.3333%;
    }

    >.xs-rgap-5 {
      margin-right: 41.6666%;
    }

    >.xs-rgap-6 {
      margin-right: 50%;
    }

    >.xs-rgap-7 {
      margin-right: 58.3333%;
    }

    >.xs-rgap-8 {
      margin-right: 66.6666%;
    }

    >.xs-rgap-9 {
      margin-right: 75%;
    }

    >.xs-rgap-10 {
      margin-right: 83.3333%;
    }

    >.xs-rgap-11 {
      margin-right: 91.6666%;
    }

    >.xs-rgap-12 {
      margin-right: 100%;
    }
  }
}

// SMALL SCREEN SIZE
@media screen and (min-width: 351px) and (max-width: 768px) {

  .hbox,
  .vbox {
    >.sm-1 {
      width: 8.3333%;
      max-width: 8.3333%;
    }

    >.sm-2 {
      width: 16.6666%;
      max-width: 16.6666%;
    }

    >.sm-3 {
      width: 25%;
      max-width: 25%;
    }

    >.sm-4 {
      width: 33.3333%;
      max-width: 33.3333%;
    }

    >.sm-5 {
      width: 41.6666%;
      max-width: 41.6666%;
    }

    >.sm-6 {
      width: 50%;
      max-width: 50%;
    }

    >.sm-7 {
      width: 58.3333%;
      max-width: 58.3333%;
    }

    >.sm-8 {
      width: 66.6666%;
      max-width: 66.6666%;
    }

    >.sm-9 {
      width: 75%;
      max-width: 75%;
    }

    >.sm-10 {
      width: 83.3333%;
      max-width: 83.3333%;
    }

    >.sm-11 {
      width: 91.6666%;
      max-width: 91.6666%;
    }

    >.sm-12 {
      width: 100%;
      max-width: 100%;
    }

    >.sm-none {
      display: none;
    }

    >.sm-flex {
      display: flex;
    }

    // Left Spacing
    >.sm-lgap-1 {
      margin-left: 8.3333%;
    }

    >.sm-lgap-2 {
      margin-left: 16.6666%;
    }

    >.sm-lgap-3 {
      margin-left: 25%;
    }

    >.sm-lgap-4 {
      margin-left: 33.3333%;
    }

    >.sm-lgap-5 {
      margin-left: 41.6666%;
    }

    >.sm-lgap-6 {
      margin-left: 50%;
    }

    >.sm-lgap-7 {
      margin-left: 58.3333%;
    }

    >.sm-lgap-8 {
      margin-left: 66.6666%;
    }

    >.sm-lgap-9 {
      margin-left: 75%;
    }

    >.sm-lgap-10 {
      margin-left: 83.3333%;
    }

    >.sm-lgap-11 {
      margin-left: 91.6666%;
    }

    >.sm-lgap-12 {
      margin-left: 100%;
    }

    // Right Spacing
    >.sm-rgap-1 {
      margin-right: 8.3333%;
    }

    >.sm-rgap-2 {
      margin-right: 16.6666%;
    }

    >.sm-rgap-3 {
      margin-right: 25%;
    }

    >.sm-rgap-4 {
      margin-right: 33.3333%;
    }

    >.sm-rgap-5 {
      margin-right: 41.6666%;
    }

    >.sm-rgap-6 {
      margin-right: 50%;
    }

    >.sm-rgap-7 {
      margin-right: 58.3333%;
    }

    >.sm-rgap-8 {
      margin-right: 66.6666%;
    }

    >.sm-rgap-9 {
      margin-right: 75%;
    }

    >.sm-rgap-10 {
      margin-right: 83.3333%;
    }

    >.sm-rgap-11 {
      margin-right: 91.6666%;
    }

    >.sm-rgap-12 {
      margin-right: 100%;
    }
  }
}

// MEDIUM SCREEN SIZE
@media screen and (min-width: 769px) and (max-width: 992px) {

  .hbox,
  .vbox {
    >.md-1 {
      width: 8.3333%;
      max-width: 8.3333%;
    }

    >.md-2 {
      width: 16.6666%;
      max-width: 16.6666%;
    }

    >.md-3 {
      width: 25%;
      max-width: 25%;
    }

    >.md-4 {
      width: 33.3333%;
      max-width: 33.3333%;
    }

    >.md-5 {
      width: 41.6666%;
      max-width: 41.6666%;
    }

    >.md-6 {
      width: 50%;
      max-width: 50%;
    }

    >.md-7 {
      width: 58.3333%;
      max-width: 58.3333%;
    }

    >.md-8 {
      width: 66.6666%;
      max-width: 66.6666%;
    }

    >.md-9 {
      width: 75%;
      max-width: 75%;
    }

    >.md-10 {
      width: 83.3333%;
      max-width: 83.3333%;
    }

    >.md-11 {
      width: 91.6666%;
      max-width: 91.6666%;
    }

    >.md-12 {
      width: 100%;
      max-width: 100%;
    }

    >.md-none {
      display: none;
    }

    >.md-flex {
      display: flex;
    }

    // Left Spacing
    >.md-lgap-1 {
      margin-left: 8.3333%;
    }

    >.md-lgap-2 {
      margin-left: 16.6666%;
    }

    >.md-lgap-3 {
      margin-left: 25%;
    }

    >.md-lgap-4 {
      margin-left: 33.3333%;
    }

    >.md-lgap-5 {
      margin-left: 41.6666%;
    }

    >.md-lgap-6 {
      margin-left: 50%;
    }

    >.md-lgap-7 {
      margin-left: 58.3333%;
    }

    >.md-lgap-8 {
      margin-left: 66.6666%;
    }

    >.md-lgap-9 {
      margin-left: 75%;
    }

    >.md-lgap-10 {
      margin-left: 83.3333%;
    }

    >.md-lgap-11 {
      margin-left: 91.6666%;
    }

    >.md-lgap-12 {
      margin-left: 100%;
    }

    // Right Spacing
    >.md-rgap-1 {
      margin-right: 8.3333%;
    }

    >.md-rgap-2 {
      margin-right: 16.6666%;
    }

    >.md-rgap-3 {
      margin-right: 25%;
    }

    >.md-rgap-4 {
      margin-right: 33.3333%;
    }

    >.md-rgap-5 {
      margin-right: 41.6666%;
    }

    >.md-rgap-6 {
      margin-right: 50%;
    }

    >.md-rgap-7 {
      margin-right: 58.3333%;
    }

    >.md-rgap-8 {
      margin-right: 66.6666%;
    }

    >.md-rgap-9 {
      margin-right: 75%;
    }

    >.md-rgap-10 {
      margin-right: 83.3333%;
    }

    >.md-rgap-11 {
      margin-right: 91.6666%;
    }

    >.md-rgap-12 {
      margin-right: 100%;
    }
  }
}

// LARGE SCREEN SIZE
@media screen and (min-width: 993px) and (max-width: 1250px) {

  .hbox,
  .vbox {
    >.lg-1 {
      width: 8.3333%;
      max-width: 8.3333%;
    }

    >.lg-2 {
      width: 166.6666%;
      max-width: 166.6666%;
    }

    >.lg-3 {
      width: 25%;
      max-width: 25%;
    }

    >.lg-4 {
      width: 33.3333%;
      max-width: 33.3333%;
    }

    >.lg-5 {
      width: 41.6666%;
      max-width: 41.6666%;
    }

    >.lg-6 {
      width: 50%;
      max-width: 50%;
    }

    >.lg-7 {
      width: 58.3333%;
      max-width: 58.3333%;
    }

    >.lg-8 {
      width: 66.6666%;
      max-width: 66.6666%;
    }

    >.lg-9 {
      width: 75%;
      max-width: 75%;
    }

    >.lg-10 {
      width: 83.3333%;
      max-width: 83.3333%;
    }

    >.lg-11 {
      width: 91.6666%;
      max-width: 91.6666%;
    }

    >.lg-12 {
      width: 100%;
      max-width: 100%;
    }

    >.lg-none {
      display: none;
    }

    >.lg-flex {
      display: flex;
    }

    // Left Spacing
    >.lg-lgap-1 {
      margin-left: 8.3333%;
    }

    >.lg-lgap-2 {
      margin-left: 16.6666%;
    }

    >.lg-lgap-3 {
      margin-left: 25%;
    }

    >.lg-lgap-4 {
      margin-left: 33.3333%;
    }

    >.lg-lgap-5 {
      margin-left: 41.6666%;
    }

    >.lg-lgap-6 {
      margin-left: 50%;
    }

    >.lg-lgap-7 {
      margin-left: 58.3333%;
    }

    >.lg-lgap-8 {
      margin-left: 66.6666%;
    }

    >.lg-lgap-9 {
      margin-left: 75%;
    }

    >.lg-lgap-10 {
      margin-left: 83.3333%;
    }

    >.lg-lgap-11 {
      margin-left: 91.6666%;
    }

    >.lg-lgap-12 {
      margin-left: 100%;
    }

    // Right Spacing
    >.lg-rgap-1 {
      margin-right: 8.3333%;
    }

    >.lg-rgap-2 {
      margin-right: 16.6666%;
    }

    >.lg-rgap-3 {
      margin-right: 25%;
    }

    >.lg-rgap-4 {
      margin-right: 33.3333%;
    }

    >.lg-rgap-5 {
      margin-right: 41.6666%;
    }

    >.lg-rgap-6 {
      margin-right: 50%;
    }

    >.lg-rgap-7 {
      margin-right: 58.3333%;
    }

    >.lg-rgap-8 {
      margin-right: 66.6666%;
    }

    >.lg-rgap-9 {
      margin-right: 75%;
    }

    >.lg-rgap-10 {
      margin-right: 83.3333%;
    }

    >.lg-rgap-11 {
      margin-right: 91.6666%;
    }

    >.lg-rgap-12 {
      margin-right: 100%;
    }
  }
}

// EXTRA LARGE SCREEN SIZE
@media screen and (min-width: 1251px) {

  .hbox,
  .vbox {
    >.xl-1 {
      width: 8.3333%;
      max-width: 8.3333%;
    }

    >.xl-2 {
      width: 16.6666%;
      max-width: 16.6666%;
    }

    >.xl-3 {
      width: 25%;
      max-width: 25%;
    }

    >.xl-4 {
      width: 33.3333%;
      max-width: 33.3333%;
    }

    >.xl-5 {
      width: 41.6666%;
      max-width: 41.6666%;
    }

    >.xl-6 {
      width: 50%;
      max-width: 50%;
    }

    >.xl-7 {
      width: 58.3333%;
      max-width: 58.3333%;
    }

    >.xl-8 {
      width: 66.6666%;
      max-width: 66.6666%;
    }

    >.xl-9 {
      width: 75%;
      max-width: 75%;
    }

    >.xl-10 {
      width: 83.3333%;
      max-width: 83.3333%;
    }

    >.xl-11 {
      width: 91.6666%;
      max-width: 91.6666%;
    }

    >.xl-12 {
      width: 100%;
      max-width: 100%;
    }

    >.xl-none {
      display: none;
    }

    >.xl-flex {
      display: flex;
    }

    // Left Spacing
    >.xl-lgap-1 {
      margin-left: 8.3333%;
    }

    >.xl-lgap-2 {
      margin-left: 16.6666%;
    }

    >.xl-lgap-3 {
      margin-left: 25%;
    }

    >.xl-lgap-4 {
      margin-left: 33.3333%;
    }

    >.xl-lgap-5 {
      margin-left: 41.6666%;
    }

    >.xl-lgap-6 {
      margin-left: 50%;
    }

    >.xl-lgap-7 {
      margin-left: 58.3333%;
    }

    >.xl-lgap-8 {
      margin-left: 66.6666%;
    }

    >.xl-lgap-9 {
      margin-left: 75%;
    }

    >.xl-lgap-10 {
      margin-left: 83.3333%;
    }

    >.xl-lgap-11 {
      margin-left: 91.6666%;
    }

    >.xl-lgap-12 {
      margin-left: 100%;
    }

    // Right Spacing
    >.xl-rgap-1 {
      margin-right: 8.3333%;
    }

    >.xl-rgap-2 {
      margin-right: 16.6666%;
    }

    >.xl-rgap-3 {
      margin-right: 25%;
    }

    >.xl-rgap-4 {
      margin-right: 33.3333%;
    }

    >.xl-rgap-5 {
      margin-right: 41.6666%;
    }

    >.xl-rgap-6 {
      margin-right: 50%;
    }

    >.xl-rgap-7 {
      margin-right: 58.3333%;
    }

    >.xl-rgap-8 {
      margin-right: 66.6666%;
    }

    >.xl-rgap-9 {
      margin-right: 75%;
    }

    >.xl-rgap-10 {
      margin-right: 83.3333%;
    }

    >.xl-rgap-11 {
      margin-right: 91.6666%;
    }

    >.xl-rgap-12 {
      margin-right: 100%;
    }
  }
}

// Alignment
.hbox.left {
  justify-content: start;
}

.vbox.left {
  align-content: start;
}

.hbox.h-center {
  justify-content: center;
}

.vbox.h-center {
  align-items: center;
}

.hbox.right {
  justify-content: flex-end;
}

.vbox.right {
  align-content: flex-end;
}

.hbox.top {
  align-items: start;
}

.vbox.top {
  justify-content: start;
}

.hbox.v-center {
  align-items: center;
}

.vbox.v-center {
  justify-content: center;
}

.hbox.bottom {
  align-items: flex-end;
}

.vbox.bottom {
  justify-content: flex-end;
}

.hbox.center {
  align-items: center;
  justify-content: center;
}

.vbox.center {
  align-items: center;
  justify-content: center;
}

.hbox>.left:not(.hbox):not(.vbox) {
  justify-self: start;
}

.vbox>.left:not(.hbox):not(.vbox) {
  align-self: start;
}

.hbox>.h-center:not(.hbox):not(.vbox) {
  justify-self: center;
}

.vbox>.h-center:not(.hbox):not(.vbox) {
  align-self: center;
}

.hbox>.right:not(.hbox):not(.vbox) {
  justify-self: flex-end;
}

.vbox>.right:not(.hbox):not(.vbox) {
  align-self: flex-end;
}

.hbox>.top:not(.hbox):not(.vbox) {
  align-self: start;
  padding: 10px;
}

.vbox>.top:not(.hbox):not(.vbox) {
  justify-self: start;
}

.hbox>.v-center:not(.hbox):not(.vbox) {
  align-self: center;
}

.vbox>.v-center:not(.hbox):not(.vbox) {
  justify-self: center;
}

.hbox>.bottom:not(.hbox):not(.vbox) {
  align-self: flex-end;
}

.vbox>.bottom:not(.hbox):not(.vbox) {
  justify-self: flex-end;
}

.hbox>.center:not(.hbox):not(.vbox),
.vbox>.center:not(.hbox):not(.vbox) {
  align-self: center;
  justify-self: center;
}

// Space before or after flex elements
.lgap-2 {
  margin-left: 16.6666%;
}