* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

.hbox,
.vbox {
  display: flex; }
  .hbox > *,
  .vbox > * {
    flex: auto; }

.vbox {
  flex-flow: column wrap; }

.hbox {
  flex-flow: row wrap; }
  .hbox > .ds-1 {
    width: 8.3333%;
    max-width: 8.3333%; }
  .hbox > .ds-2 {
    width: 16.6666%;
    max-width: 1.6666%; }
  .hbox > .ds-3 {
    width: 25%;
    max-width: 25%; }
  .hbox > .ds-4 {
    width: 33.3333%;
    max-width: 33.3333%; }
  .hbox > .ds-5 {
    width: 41.6666%;
    max-width: 41.6666%; }
  .hbox > .ds-6 {
    width: 50%;
    max-width: 50%; }
  .hbox > .ds-7 {
    width: 58.3333%;
    max-width: 58.3333%; }
  .hbox > .ds-8 {
    width: 66.6666%;
    max-width: 66.6666%; }
  .hbox > .ds-9 {
    width: 75%;
    max-width: 75%; }
  .hbox > .ds-10 {
    width: 83.3333%;
    max-width: 83.3333%; }
  .hbox > .ds-11 {
    width: 91.6666%;
    max-width: 91.6666%; }
  .hbox > .ds-12 {
    width: 100%;
    max-width: 100%; }

@media screen and (max-width: 350px) {
  .hbox > .xs-1,
  .vbox > .xs-1 {
    width: 8.3333%;
    max-width: 8.3333%; }
  .hbox > .xs-2,
  .vbox > .xs-2 {
    width: 1.6666%;
    max-width: 1.6666%; }
  .hbox > .xs-3,
  .vbox > .xs-3 {
    width: 25%;
    max-width: 25%; }
  .hbox > .xs-4,
  .vbox > .xs-4 {
    width: 33.3333%;
    max-width: 33.3333%; }
  .hbox > .xs-5,
  .vbox > .xs-5 {
    width: 41.6666%;
    max-width: 41.6666%; }
  .hbox > .xs-6,
  .vbox > .xs-6 {
    width: 50%;
    max-width: 50%; }
  .hbox > .xs-7,
  .vbox > .xs-7 {
    width: 58.3333%;
    max-width: 58.3333%; }
  .hbox > .xs-8,
  .vbox > .xs-8 {
    width: 66.6666%;
    max-width: 66.6666%; }
  .hbox > .xs-9,
  .vbox > .xs-9 {
    width: 75%;
    max-width: 75%; }
  .hbox > .xs-10,
  .vbox > .xs-10 {
    width: 83.3333%;
    max-width: 83.3333%; }
  .hbox > .xs-11,
  .vbox > .xs-11 {
    width: 91.6666%;
    max-width: 91.6666%; }
  .hbox > .xs-12,
  .vbox > .xs-12 {
    width: 100%;
    max-width: 100%; }
  .hbox > .xs-none,
  .vbox > .xs-none {
    display: none; }
  .hbox > .xs-flex,
  .vbox > .xs-flex {
    display: flex; } }
@media screen and (min-width: 351px) and (max-width: 768px) {
  .hbox > .sm-1,
  .vbox > .sm-1 {
    width: 8.3333%;
    max-width: 8.3333%; }
  .hbox > .sm-2,
  .vbox > .sm-2 {
    width: 1.6666%;
    max-width: 1.6666%; }
  .hbox > .sm-3,
  .vbox > .sm-3 {
    width: 25%;
    max-width: 25%; }
  .hbox > .sm-4,
  .vbox > .sm-4 {
    width: 33.3333%;
    max-width: 33.3333%; }
  .hbox > .sm-5,
  .vbox > .sm-5 {
    width: 41.6666%;
    max-width: 41.6666%; }
  .hbox > .sm-6,
  .vbox > .sm-6 {
    width: 50%;
    max-width: 50%; }
  .hbox > .sm-7,
  .vbox > .sm-7 {
    width: 58.3333%;
    max-width: 58.3333%; }
  .hbox > .sm-8,
  .vbox > .sm-8 {
    width: 66.6666%;
    max-width: 66.6666%; }
  .hbox > .sm-9,
  .vbox > .sm-9 {
    width: 75%;
    max-width: 75%; }
  .hbox > .sm-10,
  .vbox > .sm-10 {
    width: 83.3333%;
    max-width: 83.3333%; }
  .hbox > .sm-11,
  .vbox > .sm-11 {
    width: 91.6666%;
    max-width: 91.6666%; }
  .hbox > .sm-12,
  .vbox > .sm-12 {
    width: 100%;
    max-width: 100%; }
  .hbox > .sm-none,
  .vbox > .sm-none {
    display: none; }
  .hbox > .sm-flex,
  .vbox > .sm-flex {
    display: flex; } }
@media screen and (min-width: 769px) and (max-width: 992px) {
  .hbox > .md-1,
  .vbox > .md-1 {
    width: 8.3333%;
    max-width: 8.3333%; }
  .hbox > .md-2,
  .vbox > .md-2 {
    width: 1.6666%;
    max-width: 1.6666%; }
  .hbox > .md-3,
  .vbox > .md-3 {
    width: 25%;
    max-width: 25%; }
  .hbox > .md-4,
  .vbox > .md-4 {
    width: 33.3333%;
    max-width: 33.3333%; }
  .hbox > .md-5,
  .vbox > .md-5 {
    width: 41.6666%;
    max-width: 41.6666%; }
  .hbox > .md-6,
  .vbox > .md-6 {
    width: 50%;
    max-width: 50%; }
  .hbox > .md-7,
  .vbox > .md-7 {
    width: 58.3333%;
    max-width: 58.3333%; }
  .hbox > .md-8,
  .vbox > .md-8 {
    width: 66.6666%;
    max-width: 66.6666%; }
  .hbox > .md-9,
  .vbox > .md-9 {
    width: 75%;
    max-width: 75%; }
  .hbox > .md-10,
  .vbox > .md-10 {
    width: 83.3333%;
    max-width: 83.3333%; }
  .hbox > .md-11,
  .vbox > .md-11 {
    width: 91.6666%;
    max-width: 91.6666%; }
  .hbox > .md-12,
  .vbox > .md-12 {
    width: 100%;
    max-width: 100%; }
  .hbox > .md-none,
  .vbox > .md-none {
    display: none; }
  .hbox > .md-flex,
  .vbox > .md-flex {
    display: flex; } }
@media screen and (min-width: 993px) and (max-width: 1250px) {
  .hbox > .lg-1,
  .vbox > .lg-1 {
    width: 8.3333%;
    max-width: 8.3333%; }
  .hbox > .lg-2,
  .vbox > .lg-2 {
    width: 1.6666%;
    max-width: 1.6666%; }
  .hbox > .lg-3,
  .vbox > .lg-3 {
    width: 25%;
    max-width: 25%; }
  .hbox > .lg-4,
  .vbox > .lg-4 {
    width: 33.3333%;
    max-width: 33.3333%; }
  .hbox > .lg-5,
  .vbox > .lg-5 {
    width: 41.6666%;
    max-width: 41.6666%; }
  .hbox > .lg-6,
  .vbox > .lg-6 {
    width: 50%;
    max-width: 50%; }
  .hbox > .lg-7,
  .vbox > .lg-7 {
    width: 58.3333%;
    max-width: 58.3333%; }
  .hbox > .lg-8,
  .vbox > .lg-8 {
    width: 66.6666%;
    max-width: 66.6666%; }
  .hbox > .lg-9,
  .vbox > .lg-9 {
    width: 75%;
    max-width: 75%; }
  .hbox > .lg-10,
  .vbox > .lg-10 {
    width: 83.3333%;
    max-width: 83.3333%; }
  .hbox > .lg-11,
  .vbox > .lg-11 {
    width: 91.6666%;
    max-width: 91.6666%; }
  .hbox > .lg-12,
  .vbox > .lg-12 {
    width: 100%;
    max-width: 100%; }
  .hbox > .lg-none,
  .vbox > .lg-none {
    display: none; }
  .hbox > .lg-flex,
  .vbox > .lg-flex {
    display: flex; } }
@media screen and (min-width: 1251px) {
  .hbox > .xl-1,
  .vbox > .xl-1 {
    width: 8.3333%;
    max-width: 8.3333%; }
  .hbox > .xl-2,
  .vbox > .xl-2 {
    width: 1.6666%;
    max-width: 1.6666%; }
  .hbox > .xl-3,
  .vbox > .xl-3 {
    width: 25%;
    max-width: 25%; }
  .hbox > .xl-4,
  .vbox > .xl-4 {
    width: 33.3333%;
    max-width: 33.3333%; }
  .hbox > .xl-5,
  .vbox > .xl-5 {
    width: 41.6666%;
    max-width: 41.6666%; }
  .hbox > .xl-6,
  .vbox > .xl-6 {
    width: 50%;
    max-width: 50%; }
  .hbox > .xl-7,
  .vbox > .xl-7 {
    width: 58.3333%;
    max-width: 58.3333%; }
  .hbox > .xl-8,
  .vbox > .xl-8 {
    width: 66.6666%;
    max-width: 66.6666%; }
  .hbox > .xl-9,
  .vbox > .xl-9 {
    width: 75%;
    max-width: 75%; }
  .hbox > .xl-10,
  .vbox > .xl-10 {
    width: 83.3333%;
    max-width: 83.3333%; }
  .hbox > .xl-11,
  .vbox > .xl-11 {
    width: 91.6666%;
    max-width: 91.6666%; }
  .hbox > .xl-12,
  .vbox > .xl-12 {
    width: 100%;
    max-width: 100%; }
  .hbox > .xl-none,
  .vbox > .xl-none {
    display: none; }
  .hbox > .xl-flex,
  .vbox > .xl-flex {
    display: flex; } }
.hbox.left,
.vbox.left {
  justify-items: left; }

.hbox.h-center,
.vbox.h-center {
  justify-items: center; }

.hbox.right,
.vbox.right {
  justify-items: right; }

.hbox.top,
.vbox.top {
  align-items: start; }

.hbox.v-center,
.vbox.v-center {
  align-items: center; }

.hbox.bottom,
.vbox.bottom {
  align-items: end; }

.hbox.center,
.vbox.center {
  align-items: center;
  justify-items: center; }

.hbox > *.left,
.vbox > *.left {
  justify-self: left; }

.hbox > *.h-center,
.vbox > *.h-center {
  justify-self: center; }

.hbox > *.right,
.vbox > *.right {
  justify-self: right; }

.hbox > *.top,
.vbox > *.top {
  align-self: start; }

.hbox > *.v-center,
.vbox > *.v-center {
  align-self: center; }

.hbox > *.bottom,
.vbox > *.bottom {
  align-self: end; }

.hbox > *.center,
.vbox > *.center {
  align-self: center;
  justify-self: center; }

/*# sourceMappingURL=tailor.css.map */
